[2010-10-14 14:50] jasonm opened #8 "Can't find PrefWindow.xib when building with scripts/release.sh"
I can't seem to build ShiftIt - can someone point me in the right direction?  I didn't find any build instructions on the github project.

My attempt:

https://gist.github.com/6df7ab70cb421869d46c

Thanks!
-Jason

[2010-10-14 14:55] niravb opened #9 "Bugs in positioning - gap between dock (when it's on right/left)"
I've noticed a few bugs in window positioning.

1) When using the 'down' option (i.e. bottom half), the bottom of the window isn't quite at the bottom of screen.  It is placed about menu-bar height above the bottom.

2) In some programs (TextWrangler is an example), window are placed such that their title bars behind the menu bar.  This doesn't happen in all programs.  It does, however, happen all

[2010-10-21 10:54] rexx opened #11 "Features request"
Hi,
It's really nice to see a free alternative to SizeUp.
I have some ideas about new features.
(Actually some are from SizeUp)
1. Resize a window and center it at the same time.
   It's useful to resize a small window which I don't want to maximize it.
   Center can be optional
   And the custom size could be absolute width/height in pixel, or a percentage of the screen resolution, or even keep a

[2010-10-21 13:33] alcides opened #12 "Change from Fullscreen to center doesn't work."
Tried with Finder, Textmate, XCode, etc...

If I set it to fullscreen, then to center, it keeps the fullscreen size.

If I set it to fullscreen, then one of other types, then center, it works.

[2010-10-22 09:32] #12 closed, assigned to nobody

[2010-10-26 07:12] matyhaty opened #13 "Multi Monitor"
Hi All

Monitor monitoring doesnt seem to work very well.
This revolves around:
- Not being able to move from one screen to the next (e.g. pressing the left shortkey twice should move window to monitor on left)
- The resizing on a external larger monitor doesn't allow for its extra space and only resizes to the size of the small screen

Ive seen that 1.5 has a few multi monitor fixes. Are these in

[2010-11-01 05:28] EspadaV8 opened #14 "Manual resize"
I'm not sure if this'd be something within the scope of ShiftIt, but it'd be nice to be able to manually resize a window whilst holding down the hotkeys, in a way similar to Zooom2 (http://coderage-software.com/zooom/index.html).

Holding down the keys shows an grid overlay and then moving the mouse resizes the currently selected window.

[2010-11-01 22:47] #14 closed, assigned to nobody

[2010-11-05 23:09] tjwallace opened #15 "Cannot build release"
I'm very new to OSX development so I was hoping you could help me out.  I get the following error when trying to build using the release.sh script.

<pre>
=== BUILD NATIVE TARGET ShiftIt OF PROJECT ShiftIt WITH CONFIGURATION Release ===
Check dependencies
CompileXIB PreferencesWindow.xib
    cd /Users/jeff/code/src/ShiftIt/ShiftIt
    /Developer/usr/bin/ibtool --errors --warnings --notices --outpu

[2010-11-08 16:57] #15 closed, assigned to nobody

[2010-11-09 00:45] #13 closed, assigned to nobody

[2010-11-09 08:22] jgelens opened #16 "Version 1.5, various positions greyed out"
See screenshot: http://img.skitch.com/20101109-t7pmyhhw2j6f13h8qep9h3aa62.jpg
The previous version was working fine.

[2010-11-12 15:14] 1951FDG opened #17 "Features Request"
1. Change fullscreen zoom behavior so that pressing the full screen zoom hotkey again, the second time, the window will be restored to it's original size instead of remaining in full screen size. Basically, full screen, original, full screen, original (during fullscreen keystrokes). RightZoom.app has this feature.
2. Change behavior when ShiftIt is launched for the second time, launching ShiftIt f

[2010-11-15 15:37] ralph opened #18 "Feature Request: Resize/move windows in 5% steps"
Resizing windows to 50% of the screen width does not always work for me. Sometimes I need wider windows (e.g. a website that needs more screen real estate), or I need much smaller windows (e.g. iChat contact list). But I usually prefer working with a keyboard, so I want to avoid switching to the mouse.

This is a workflow I would like:
1) Put browser into the left half of the screen.
2) Realize I

[2010-11-19 20:32] reggi opened #19 "Multiple Monitor Support (sending windows to other screens)"
Multiple Monitor Support.
The senario is that you have dual monitors [ 1 ][ 2 ]. You have a window on 1 you move this window to the left [ |X][ | ]. You move it left again and it goes to 2 [ | ] [X| ]. And again and again [ | ] [ |X] &  [X| ] [ | ]. So you can go in a loop in both directions left and right. This is what win 7 has.

Good work with restoring the project, love the icon.

[2010-12-16 19:12] 1951FDG opened #24 "Suggestions & problem compiling Xcode project"
Suggestion 1. Set absolute path to Carbon.framework
/System/Library/Frameworks/Carbon.framework

see screenshot (Get Info): http://db.tt/lxcCmsX

Suggestion 2. Set plug-in dependency for "PreferencesWindow.xib"
ShortcutRecorder.framework/Versions/A/Resources/ShortcutRecorder.ibplugin

see screenshot (Edit Project Settings): http://db.tt/ALwbDjc

Fix 3. For OS X 10.5.x users, compile and copy and u

[2010-12-29 11:00] #24 closed, assigned to nobody

[2011-01-08 16:17] mplamann opened #25 "Doesn't take drawers into account"
When I am using an application that uses drawers (such as TextWrangler), the fullscreen keyboard shortcut does not leave space for the drawer on the right side of the window

[2011-01-09 15:50] #16 closed, assigned to nobody

[2011-01-09 15:52] #8 closed, assigned to nobody

[2011-01-09 21:49] fikovnik opened #26 "Add an undo/redo functionality"
_taken from the feature request list in #17_

Add an undo/redo functionality for all windows whose state has been altered by ShiftIt.

[2011-01-09 21:59] fikovnik opened #27 "Clean up logging"
_taken from the feature request list in #17_

Clean up logging messages. Some of them are irrelevant right now. For the rest, there should be a clear separation on what is a user related log message logged by `NSLog` and developer related log message `FMTDevLog`. Some of the message might be relevant only in case of bug tracing so leaving some hidden user defaults would be useful.

[2011-01-09 22:03] fikovnik opened #28 "Add a way to get into preferences dialog with disabled menu bar icon"
_taken from the feature request list in #17_

Right now the only way is described in the FAQ. The problem with the double launching is that by default OSX treats applications as singletons - one instance only.

[2011-01-09 22:03] #17 closed, assigned to nobody

[2011-01-14 14:49] kylehayes opened #29 "Move window to another screen"
I would like to send a window to another screen. I suppose this could be based on the position of the screen relative to your main screen.

[2011-01-14 14:51] #29 closed, assigned to nobody

[2011-01-14 22:36] #28 closed, assigned to nobody

[2011-01-19 23:23] EspadaV8 opened #31 "Window doesn't resize (Quassel IRC Client)"
Using ShiftIf with Quassel will move the window but not resize it. In the console I get the following output.

<pre>
20/01/11 9:19:13 AM ShiftIt[1041]   Invoking action: bottom
20/01/11 9:19:13 AM ShiftIt[1041]   window rect: [-1280.000000 928.000000] [1276.000000 556.000000]
20/01/11 9:19:13 AM ShiftIt[1041]   screen rect (cocoa): [-1280.000000 0.000000] [1280.000000 1024.000000]
20/01/11 9:19:13

[2011-01-23 21:30] chriscrowe opened #34 "Needs an exit/quit button in the prefs window"
I've recently taken to using ShiftIt without the menu bar icon (I realized that I never used the shortcuts with a mouse anyways). Now I sometimes need to quit the program with I'm writing code for it. This either requires killing it with Activity Monitor or enabling the icon and then using the menu item to quit.

We should just add a button to the prefs menu.

[2011-01-28 07:32] #31 closed, assigned to nobody

[2011-02-01 10:17] matyhaty opened #35 "Website"
Hi All

ShiftIT is a great product, and looking forward to the enhancements which are in progress.
One thing I find while installing this on other's Macs, is no website?

Alas my programming on OSX is no where. However websites is way more my thing!

Would people be interested in getting something proper setup?

Regards

Matt
www.s3d.co.uk

[2011-02-03 13:39] jaedavidson opened #36 "Crashes when X11 is not installed on the system"
v1.5 crashes immediately on launch on my Mac.

v1.4.1 doesn't

Crash Log:

Process:         ShiftIt [399]
Path:            /Applications/ShiftIt.app/Contents/MacOS/ShiftIt
Identifier:      org.shiftitapp.ShiftIt
Version:         ??? (???)
Code Type:       X86-64 (Native)
Parent Process:  launchd [130]

Date/Time:       2011-02-03 13:19:19.038 +0000
OS Version:      Mac OS X 10.6.6 (10J567)
Report

[2011-02-06 19:08] #18 closed, assigned to nobody

[2011-02-07 03:04] #34 closed, assigned to nobody

[2011-02-15 15:27] chriscrowe opened #37 "Mac App Store"
Hey Filip--

Have you given any thought to making ShiftIt available on the Mac App Store? (for free, obviously).

I don't know if you've already got a developers license or not... But if so, maybe we can spread the word more by getting it up there. Divvy is on there and it seems to have been very successful.

[2011-02-18 17:48] git2samus opened #38 "errors running scripts/release.sh on Mac OS X 10.6.6 (master at fe6836abb9a251c59908b561510b954627c052ff)"
this is the output of the script:

[code]

why on earth does it try to access a local Dropbox file?

[2011-02-19 05:55] #38 closed, assigned to nobody

[2011-03-01 20:01] alanzoppa opened #39 "Number pad keys don't work"
I attempted to re-map the keys to emulate compiz grid functionality, but I can't seem to use the number pad for key mappings.

Disclosure: I'm using an external keypad and don't have access to anything else. Please close with extreme prejudice if it's just me.

[2011-03-01 20:04] #39 closed, assigned to nobody

[2011-03-03 09:10] RobertAudi opened #40 "Feature Request: Send window to next/previous monitor"
I replaced SizeUp by ShiftIt but not completely because SizeUp has one feature (well two..) that ShiftIt still doesn't have:
- Send window to previous monitor
- Send window to next monitor

If those features could be added to ShiftIt I would be able to completely replace SizeUp.

Thanks!

[2011-03-05 14:30] TobiasRoeding opened #41 "Update Error!"
Hey fikovnik,

there is a problem when trying to update the application:
An error occurred in retrieving update information.
Please try again later.

Regards
Tobias Röding

[2011-03-08 19:27] fikovnik opened #42 "Add support for language translations"
Refactor plus write a small cookbook on how to add a new language mutation.

[2011-03-15 12:22] Industrial opened #43 "1px window positioning"
I really like placing windows with a 1px space in between them manually. Unfortunately ShiftIt places them like this:

http://images.gammatester.com/pics/6e0e183d2c55d7d21e4b51a0473b4083.png

while I'd do it like this:

http://images.gammatester.com/pics/489fc730c73ee0e42d7c866074cd0a0b.png

[2011-03-16 09:39] sbusch opened #44 "Restore Release Notes"
The links to the release notes from the github front page are broken.

As this is an invaluable tool to promote application changes and new features, I suggest to create a Changelog / ReleaseNotes File within the git repository. The old release notes should be restored, if possible.

[2011-03-28 07:21] Industrial opened #45 "Move window to Space"
I move to spaces 1-9 with cmd+1-9, would be awesome to have a cmd+shift+1-9 to move a window to a space. I miss that form linux window managers..

[2011-05-04 07:36] SebastienElet opened #46 "Grid on a screen"
I would like to put every windows on a screen into a full screen grid.

For example, i often use many terms on a 24" screen and i would like to set them in 4x3 grid (if i have 12 terms, 3x3 for 9 etc...) in full screen.

Regards & thanks for your work.

[2011-05-11 06:56] bradphelan opened #47 "Spatially aware window switching"
Previously I was a wmii http://wmii.suckless.org/ user under linux. Shiftit is the next best thing under OSX and I'm really happy to have it. There are many features of wmii which Shiftit could be inspired by. However one thing I really like is the ability to switch windows according to adjacency.

If I have two windows side by side I would like to be able to do

[code]

When running a window mana

[2011-05-13 22:14] ievans opened #48 "no alert that the google code version is severely out of date"
The latest version is 1.2 on the Google code repo, but if you tell it to "check for updates" it claims that nothing's available. There should probably be a big warning on the GC site that the project there is out of date.

[2011-05-31 16:40] arnekolja opened #49 "Drag and drop support"
It would be nice to have drag and drop support, so you can drag a window to a side of the screen and it triggers the half-size positioning (left, right, top, bottom).

I'm wondering why there isn't already a ticket for this. It's so convenient, if you're not into shortcuts that much.

[2011-06-07 13:06] #49 closed, assigned to nobody

[2011-07-10 10:46] jgroeneveld opened #50 "make setting for window padding"
it would be great to have a setting to set a window padding. i dont like it if windows are super close next to each other, id like a little padding between the edges of each window.
so for example defining the 'left' space of the screen with 5 pixels less width would do it.

[2011-07-21 16:48] gonafr opened #51 "Crash on Mac OS X Lion"
In a "Space" different from the default one it crashes sometimes on Mac OS X Lion.
Hope you fix it.

Thanks for your work.

[2011-08-15 14:43] fikovnik opened #53 "ShiftIt does not work with Twitter.app"
With twitter.app it is not possible to change the size and position of the main window. It is, however, possible to change the position of the new tweet window.

It does not use any special library (like cocoagtk, qt) so it should theoretically work.

[code]

This might be misleading, but this means that neither AX nor X11 could find an active window.
Very likely the problem is related to the curr

[2011-08-21 11:46] pauldambra opened #54 "Bug: Appears to interfere with screen waking on iMac"
When ShiftIt is active on my late 2009 iMac (snow leopard or lion) I cannot wake the screen from sleep.

If I deactivate ShiftIt I can consistently wake the machine.

When it's active and I try to wake the machine you can hear that the mac has woken... pressing keys generates the appropriate feedback noise but the screen stays black. You have to sleep and wake the machine with the power button to

[2011-08-23 09:24] #54 closed, assigned to nobody

[2011-08-27 13:07] #36 closed, assigned to fikovnik

[2011-08-27 13:29] #25 closed, assigned to fikovnik

[2011-08-27 13:31] fikovnik opened #55 "Check if AX option is readonly"
It does mak sense to try first to see if it is actually possible to change either position or size of a window before trying it so more relevant lo message can be composed.

[2011-08-27 13:33] fikovnik opened #56 "Disable actions for windows in fullscreen mode"
In OSX Lion, there is a incorrect behavior for ShitIt actions performed on a fullscreen window. It should be checked before if the action should be executed or not.

[2011-08-27 13:56] fikovnik opened #57 "Make distinctions between window zooming, filling the screen and fullscreen actions"
Since in OSX Lion, there is explicit Full Screen mode for some window - real fullscreen in comparison to our full screen which is merely a fill screen, it would be good to organize it a bit:
- fill screen - size the window so it takes the entire screen
- toggle full screen -  OSX Lion full screen
- toggle zoom - like clicking on the zoom button (the green one :) )

[2011-09-06 08:43] fikovnik opened #58 "Merge back the X11 support"
This time, I will try to make it more flexible and make the X11 implementing the`WindowDriver` protocol.

[2011-09-12 05:05] davur opened #59 "Quirks with vertical dual screen"
First, I love this application, it's a real productivity boost. But... I'm seing some strange behaviour with my setup.
## Setup:

I have a (perhaps unusual) setup with a 13" MacBook Pro (1280x800) connected to an Apple display Cinema HD (1920x1200), these are arranged with the display above the MacBook and the MacBook screen. If it makes a different which is the "main" display, I have the Mac menu

[2011-09-13 12:19] bradphelan opened #60 "Support OSX 10.6 - (was: Can't build ShiftIt 1.6 on OSX Snow Leopard)"
Did a clean clone of the repository changed to the 1.6 branch and the tried the release script as well as manual xcode build but get the following
errors.

[code]

[2011-09-13 12:29] #60 closed, assigned to fikovnik

[2011-09-22 13:53] rjeschmi opened #61 "Toggle fullscreen crashes on Lion"
I've been testing out shift16 and noticed a couple of issues. The most significant being that ShiftIt crashes when I try using the "toggle full screen" shortcut.

I'm happy to provide a debug log if you give me some direction how to do it. I have Xcode 4.1 running and complied in it.

[2011-10-18 02:03] krijesta opened #62 "Links in README.md broken"
Hey

The links to the change log entries  http://nkuyu.net/apps/shiftit/release-notes-1.3.html etc are all returning 404s

Also the final link for the 1.3 changelog isn't correct as the link line finishes with "Blockquotehow can I get it back?"

[2011-10-18 07:10] #62 closed, assigned to nobody

[2011-10-23 06:56] ghost opened #64 "enable maximize horizonal or vertical only"
ShiftIt could support a new feature to enable maximize the current screen only in one direction vertical or horizontal.

[2011-11-03 13:18] #61 closed, assigned to nobody

[2011-11-23 14:22] #58 closed, assigned to fikovnik

[2011-11-23 14:23] #55 closed, assigned to fikovnik

[2011-11-23 14:23] #56 closed, assigned to fikovnik

[2011-11-23 14:27] #57 closed, assigned to fikovnik

[2011-11-23 14:28] #59 closed, assigned to fikovnik

[2011-11-27 00:08] resuna opened #66 "Can't build 1.5 on OS X 10.5 PPC"
I'm more at home with Makefiles and configure scripts. I believe I followed the instructions for building on Leopard correctly, but I get this failure immediately. "Arch" is set to "ppc ppc7400 ppc970 i386", but the error indicates it's empty:

Cleaning target “ShiftIt” of project “ShiftIt” with configuration “Release” — (1 error)
    Checking Dependencies
Internal error occurred while creating de

[2011-12-01 09:48] #53 closed, assigned to fikovnik

[2011-12-08 03:05] patelnav opened #67 "Building on OS X Lion + XCode 4.2 from scratch"
Basically, if you start from a blank slate, XCode 4.2 doesn't include GCC 4.2.x
This makes the build steps not work on Lion.

I fixed this by setting the following in the Xcode project Build Settings
1) Architectures to "Native Architecture of Build Machine"
2) Compiler for C/C++/Objective -C to "Default compiler (Apple LLVM compiler 3.0)"

Popped, back into terminal and ran release.sh. Worked lik

[2011-12-09 00:37] #66 closed, assigned to nobody

[2011-12-11 15:50] nebiros opened #68 "doesn't work with some windows"
Hey,

Thanks for keep this app alive, is great, but I don't know why it doesn't work with some windows, like twitter official app, the odd thing is that it works with the version from google code. I'm in osx lion 10.7.2, Xcode 4.2.1.

[2011-12-13 19:56] spockz opened #69 "Custom screen positions and dimensions"
It would be nice if I could create and assign custom positions and dimensions to shortcuts. Sometimes I want a more 2/3 - 1/3 ratio instead of 50-50.

[2011-12-15 21:42] #19 closed, assigned to fikovnik

[2011-12-15 21:46] #67 closed, assigned to nobody

[2011-12-18 12:31] fikovnik opened #70 "The geometry changing actions should respect window anchor"
If I want to shift window to the right half of the screen, but the window does not support resizing (or resize only to a certain max size) then it will be incorrectly positioned (Twitter.app for example).

[2012-01-01 19:53] aeosynth opened #71 "tiling"
i want a tiling window manager for osx

until that's completed in full generality, i'd at least like to open terminal at full height and 80 char width, with chrome at full height automatically using the remaining width.

[2012-01-08 18:33] #70 closed, assigned to fikovnik

[2012-01-26 08:57] lcb opened #72 "more regular binary updates"
Hi there

I like shiftit very much and I would like to profit from version 1.6, too, without installing Xcode. So what about a regular (kind of nightly?) beta build? I would be happy to test it.

lorenz

[2012-01-30 21:06] #72 closed, assigned to nobody

[2012-02-05 20:32] fikovnik opened #73 "Add anonymous statistics gathering"
Using Sparkle, gather some anonymous statistics about system usage:
- all the default from Sparkle
- number of screens
- resolutions
- per action statistics on how many times it had been invoked and how many times it failed

[2012-02-05 20:32] #73 closed, assigned to fikovnik

[2012-02-05 20:34] fikovnik opened #74 "Improve release script"
* Should merge appcast.xml
* Should upload application

[2012-02-09 00:58] FGRibreau opened #75 "[Feature request] Double press on an arrow trigger a second action"
This feature request may seems a little awkward (it was what kept me on HyperDock for a long long time) but it would be great to be able to define shortcut like:

Left:  ⌃⌥←
Top Left:  ⌃⌥ + ←↑

Center :  ⌃⌥  + ↑↑ == ⌃⌥  + ←← == etc...

For me it feels more natural than having three distinct shortcut for Left & Top/Bottom Left but that's just my point of view.

[2012-02-17 08:30] lcb opened #76 "problems positioning window with drawer"
Hi there

I have been testing v1.6 for a while now and it works well. There is just one thing with drawers: If I have a window with a drawer and I want to place it somewhere then it is resized correctly but placed wrongly.

Cheers,
Lorenz

[2012-02-17 11:36] fikovnik opened #77 "Fix the preferences synchronization with drivers"
When a preference changes it needs to be updated in the driver. The also applies for the margins. The binding needs to be done in the preferences themselves. Add the remaining advanced preferences to the dialog.

[2012-03-01 01:57] ipcaldwell opened #78 "FR - two different types of full screens...."
I would like to start off by saying great work. The previous version full screen was not the lion full screen... It just took up the whole screen. I would like to request that that be added back... The lion Full screen blocks out the use of the menu bar until you move up the mouse up there.. the same thing occurs for the dock.... I prefer the lion full screen for movies, but for applications such

[2012-03-01 08:33] #78 closed, assigned to nobody

[2012-03-08 05:42] jprider63 opened #80 "Quicksilver Module"
Hi fikovnik,

So I've been thinking about writing a shiftit module for quicksilver. This would allow users to assign quicksilver triggers to hotkeys that implement shiftit functionality.

What do you think? With your permission, I would call it ShiftIt Module and use some of your code to implement the functionality.

Thanks,

JP

[2012-03-09 09:06] fikovnik opened #81 "Separate the app functionality from the core window manipulation"
Create ShiftIt.framework to be used by some other apps. Raised from #80.

[2012-03-21 15:48] davesque opened #82 "Cannot build on Mac OSX 10.6"
from directory ~/sites/ShiftIt on branch master:

$ ./scripts/release.sh
=== BUILD NATIVE TARGET ShiftIt OF PROJECT ShiftIt WITH CONFIGURATION Release ===
Check dependencies
[BEROR]error: There is no SDK with the name or path '/Users/david/Sites/ShiftIt/ShiftIt/macosx10.5'

*\* BUILD FAILED **

The following build commands failed:
    Check dependencies
(1 failure)
XCode build failed
~/sites/Shift

[2012-03-21 15:56] #82 closed, assigned to nobody

[2012-04-04 04:11] jcswart opened #83 "Installation"
I have googled as much as I can on the topic and I cannot find anything.  I am new to OSX and Xcode and I cannot figure out how to compile the project.

I downloaded the .zip, extracted and cannot open with Xcode.

Can someone please give me a more verbose set of installation instructions, step by step.

Thank you very much for your time!

-jcswart

[2012-05-15 15:55] taudep opened #85 "Nice feature for multiple monitor support"
Hello, I love this tool.  I love pressing the ctrl-opt-cmd-right arrow key to snap the window to the right half of the screen.  I have a suggestion to make this functionality even better.

Windows 7, naturally, has this functionality build in (you press the windows->right arrow key) to do the similar snap to the right.  However, when you have multiple monitors, and there's one to the right, you ca

[2012-05-15 16:01] #85 closed, assigned to nobody

[2012-06-12 08:54] chakrit opened #86 "Ability to make a window float on top."
For example, with Xcode full-screen entering some password details I got in the mail.

I'd love to have the mail window stay on top of xcode because I have Xcode maximized (and shifting xcode to the left and right just doesn't make much sense.)

[2012-06-26 14:17] simonexmachina opened #87 "It's just started opening X11 whenever I use it"
I've been using ShiftIt for ages, but I just upgraded and now whenever I use it X11 opens, and it fails to actually move the window. Any ideas what might be causing it?

[2012-06-27 11:51] #87 closed, assigned to nobody

[2012-08-04 04:18] pwnall opened #89 "The shiftit16 branch doesn't build in Xcode 4.3 or 4.4"
I get the following error.

[code]

After removing `__block`, I get the following error in Xcode 4.4 (but it builds in Xcode 4.3):

[code]

[2012-08-14 13:59] fenollp opened #90 "Two arrows forbidden in Shortcuts"
Hi,
I would like to use shortcuts like Option--UpArrow-LeftArrow to move my window into the upper-left corner.

Sadly, the framework you (and it seems all other tiling manager on OSX) use, namely ShortcutRecorder, forbids me from choosing more than One arrow. I try to hold Option- and press UpArrow-LeftArrow, but only one Arrow is kept.

That's why I ask for your time to widen the range of possi

[2012-10-22 07:56] khaf opened #91 "Default Multiple Window Width/Height"
Hello Everyone,

Thank you for this very useful utility. I've been using Gnome and its decoration manager, and one the features which comes in handy is the multiple width/height when pressing the keys.

For example if you resize a window to the left of the screen, it will take half of the screen. Then, by pressing the shortcut again, it will resize to fill a third of the screen. If you press the s

[2012-11-28 15:34] #89 closed, assigned to nobody

[2012-11-28 16:05] ghost opened #92 "Change position and switch screen in one shortcut"
First of all, thank you for taking care of the major XCode bug!

How about adding an option that if I press a shortcut twice (e.g. move to left side of the screen) that it moves to the secondary screen? That's the only thing I'm missing since switching from divvy. I know that there is the "Next Screen" shortcut, but it's not quite the same thing. This is just a minor nuisance though.

[2012-12-02 04:49] ghost opened #93 "Move to the window above/below or to the left/right shortcuts?"
Are there shortcuts to move the focus to the window above/below or to the left/right of the current active window?

[2012-12-06 18:13] sleeke opened #94 "When using multiple monitors, windows are sometimes not confined to one screen"
First of all, I would like to say thanks for such an awesome and useful piece of software. The customisable shortcuts and better multiple monitor behaviour is a real plus.

I have a setup with an external monitor with a high resolution set up as the primary display above my laptop display which is a lower resolution. Unfortunately, when using that setup windows consistently end up the wrong size/s

[2013-01-07 15:37] chakrit opened #96 "Build fails on latest 10.8.2 / Xcode 4.5 install (missing X11 header)"
See the build output in this gist: https://gist.github.com/4475880

Seems X11 is still required to build the thing?

[2013-02-11 15:56] #96 closed, assigned to nobody

[2013-03-07 14:17] marlonrichert opened #98 "doesn't work with OmniGraffle"
Instead, whenever I try to invoke a ShiftIt keyboard shortcut on Omnigraffle, an X11 window appears.

WTF?! o_O

Which of the two apps is using X11? ShiftIt or Omnigraffle? Or if neither, then what on earth does this mean? I'm baffled.

[2013-03-07 14:41] #98 closed, assigned to nobody

[2013-03-12 20:59] cthulu opened #99 "Remember windows when switching screens"
Hi,

I think title says enough - when you have laptop @work, it happens often you switch from single to dual display, loosing all the window positions while doing that. Some apps (like Moom) try to solve this, but it mightt be nice to have this in ShiftIt

[2013-03-19 12:49] myeyesareblind opened #100 "Leapmotion (https://www.leapmotion.com) device support."
Hello Filip.
Received my dev unit few days ago.
What do you think about adding device support into ShiftIt?
I will definitely do this for myself in my fork, just want to know if you got any thoughts on this.
As of now (0.75 SDK), very few gestures are supported: circle gesture, key tap and swipe (have a look at https://developer.leapmotion.com if you are interested).
I think the swipe gesture + an

[2013-03-23 21:38] mcandre opened #101 "Tile to bottom: moves window past Dock"
Tiling a window to the bottom of the screen moves it down past the Dock, unless you first tile the window to the top of the screen.

Confirmed on Finder windows and Chrome windows.

[2013-03-25 08:14] marlonrichert opened #102 "1.6 doesn't appear to work with Photoshop CS6"
Keyboard shortcuts don't work, nor do the menu items. They seem to do _something_, but not what they're supposed to do.

Mac OS X 10.7.5

[2013-03-25 16:08] fikovnik opened #103 "Fix debugging log"
The enable log debugging does not work properly. See #102

[2013-03-31 05:09] podlipensky opened #104 "How to disable fullscreen (space) mode?"
When I press Cmd+Option+Control+F - the window became a separate screen (place) in OSX 10.8, on my older laptop it just resizes to the whole screen (without entering this special mode). Do you know how can I have the same behavior in the latest osx?

[2013-04-09 07:55] Petia opened #105 "Requires X11 at installation (although supposedly X11 support has been dropped)"
When starting Shiftit for the first time (e.g. when it installs), it complains that there is no X11 installed on my system (10.8.3) and then refuses to proceed (so installation stops there and I can't run Shiftit).
I've no intention to install X11, and anyway X11 support is supposedly abandoned. So what is going on?
Same behavior with 1.5 and 1.6 (devt).

[2013-04-09 15:07] #105 closed, assigned to nobody

[2013-04-12 23:57] mcandre opened #106 "Preferences window never pops up"
The docs say that opening ShiftIt when it's already running will display the Preferences window, but this doesn't happen on my computer.

As a mitigation, I edited `~/Library/Preferences/org.shiftitapp.ShiftIt.plist` back to `YES` for `shiftItshowMenu`.

System:
- ShiftIt 1.5
- Mac OS X 10.8.3

[2013-04-13 00:03] mcandre opened #107 "ShiftIt as QuickSilver plugin?"
How hard would it be to write ShiftIt as a [Quicksilver](http://qsapp.com/) plugin?

[2013-04-14 20:23] #104 closed, assigned to nobody

[2013-04-15 19:40] ghost opened #108 "Animation is too slow"
When I drag a window to a border and release it, it takes a long time to show up with that fancy animation. Is there a way to change the animation time or disable it? If I use a hotkey I don't have that problem.

[2013-04-15 21:10] #106 closed, assigned to nobody

[2013-04-16 06:08] #108 closed, assigned to nobody

[2013-05-03 16:37] thinkspill opened #109 "Little Snitch crashes Shift-It"
Using Shift-It 1.6 and Little Snitch 3.1. Attempting to move the Little Snitch window results in the following debug error:

2013-05-03 09:29:14.349 ShiftIt[868/0x7fff78502180] [lvl=3] -[ShiftItAppDelegate invokeShiftItActionByIdentifier_:] Execution of ShiftIt action: right failed: Unable to get window geometry
NSError stack trace:
org.shiftitapp.shifit.error:20103 - Unable to get window geometry

[2013-06-13 23:48] daturkel opened #110 "Noteworthy change in 10.9 Permissions"
The 10.9 dev preview changes the way you must enable permissions to use this app. Previously, one needed to go into Accessibility settings and enable assistive devices, now you must go into Security + Privacy settings and add ShiftIt to the list of devices allowed to access Accessibility

[2013-06-28 18:56] fikovnik opened #111 "In some cases ShiftIt crashed by using X11 window driver instead of AX"
Crash report

[code]

[2013-07-11 10:31] abhibeckert opened #112 "Use screen frame instead of visibleFrame"
In my personal fork, I have hacked [SIScreen visibleFrame] to return [self frame];

I much prefer this behaviour, it causes all windows to go behind the dock instead of next to it.

The menu bar is still respected, since the window manager is more strict about preventing windows from going behind that.

I think this should be an NSUserDefault? If I clean up my hack and submit a patch will it be ac

[2013-07-13 18:12] #110 closed, assigned to nobody

[2013-08-07 01:52] mattpilott opened #114 "App won't run in OSX 10.9 Mavericks"
Hi Shiftit doesn't run in Mavericks as i just get the message asking for assistive devices despite having ticked shift it in. This happens if i place the app in utilities or applications however it occasionally works in downloads folder.

[2013-10-23 10:08] #114 closed, assigned to nobody

[2013-10-23 18:42] dpoon opened #118 "Making ShiftIt work on OS X 10.9 Mavericks"
This is not a bug _per se_.  ShiftIt 10.6 actually works on OS X 10.9, but there are some obstacles.  You could consider this a documentation issue.

First, you have to re-enable the Accessibility API.  In OS X 10.9, accessibility has to be enabled per application.  Under System Preferences → Security & Privacy → Privacy → Accessibility, select ShiftIt.

Second, I found that after upgrading from O

[2013-10-25 11:57] jonpwall opened #119 "shiftit not appearing in accessibility window"
I've downloaded 1.6 for use with Mavericks.  At install it says I need to enable accessibility, but when I go to Preferences >Security > Privacy, Shiftit doesn't appear.  It worked great on my other Mac.

Here's the screenshot, any help or suggestions are appreciated

![image](https://f.cloud.github.com/assets/5773917/1407409/8cef672e-3d6c-11e3-873b-67bc9b7f8e43.png)

[2013-10-25 17:00] apennebaker opened #120 "Remove dependency on X11"
If we can remove the dependency on X11, and use only Cocoa libs, this would make it easier for more Mac users to install ShiftIt.

[2013-10-29 15:03] #119 closed, assigned to nobody

[2013-11-03 02:56] patrickberkeley opened #121 "Doesn't work with number pad numbers"
I'm using an apple keyboard with a number pad and the Top Left (cmd + opt + 1), Top Right (cmd + opt + 2), Bottom Left (cmd + opt + 3), Bottom Right (cmd + opt + 4) shortcuts don't work. os x 10.9, shiftit 1.5 and 1.6

[2013-11-19 16:38] its5022 opened #124 "Screens are sized a few pixels too small with hidden dock"
## What steps will reproduce the problem?
1. Open System Preferences>Dock and check "Automatically hide and show the Dock"
2. Use the assigned keyboard shortcut for making an app fill the screen
## What is the expected output? What do you see instead?

Expected: Window fills the screen completely
Actual: Window fills the screen almost completely, but leaves a small gap on the side of the screen wh

[2014-01-17 19:49] lwhorton opened #126 "Previous Window"
I would love to have the options read "Next Window", "Previous Window". I'm working on 3 screens at a time, and it's a bit annoying to be forced to go "around the circle" to put windows on the correct screen. I actually implemented most of this functionality in a fork, but I couldn't get the whole rectanglesInDirection/buildDirectionalPath logic to work with 3 screens. I keep running into "Screens

[2014-01-21 17:50] krlng opened #127 "Correct vertical positioning with vertical ordered screens"
If you use an external Display which is arranged at the top of your macbook ShiftIt will place the active window on the macbook screen, even if the window was opened in the external screen. (As soon as changing the arrangments that the screens are placed horizontal to each other it works all right)

[2014-01-29 06:09] snoblenet opened #129 "typo in menu"
It currently shows the same keyboard shortcut for "Right" as it does for "Left".

[2014-03-05 13:56] christine-harvie opened #130 "Some commands don't work on BBEdit"
I'm trying to switch over to ShiftIt2 because the original has a hotkey conflict with the chrome developer tools.

But this version can't seem to move BBEdit windows to the top, bottom, or corner positions. It sizes it properly, but it doesn't move the window for those options. All the other positions work, and I've checked through the list of hotkeys for BBEdit and I don't see a conflict there.

[2014-03-19 19:32] eddified opened #131 "ShiftIt keeps crashing"
ShiftIt crashed on my old install. I recently started with a fresh install of mavericks and it's still crashing. Crash report below.

Process:         ShiftIt [10199]
Path:            /Users/USER/Downloads/ShiftIt.app/Contents/MacOS/ShiftIt
Identifier:      org.shiftitapp.ShiftIt
Version:         1.6 (1.6)
Code Type:       X86-64 (Native)
Parent Process:  launchd [943]
Responsible:     ShiftIt [10

[2014-05-21 14:43] waveformula opened #133 "Very Minor Typographical Error"
First of all, thanks for a really, really useful app - I use it all day everyday and perfectly satisfies everything I need to do. I wanted to say thanks and in doing so came across a typo:

On the "Anchors" tab of the preferences it says "...it will me automatically.." when of course is should say "be" instead of "me".

Obviously this is of no functional consequence, but I thought you would want t

[2014-05-22 21:55] fikovnik opened #134 "1.6.2"

[2014-05-22 21:56] #134 closed, assigned to nobody

[2014-05-22 22:02] #133 closed, assigned to nobody

[2014-05-28 07:28] helllth opened #135 "Unclaimed Flattr Donations"
I just flattered you for your great work and saw that you have unclaimed donations :-)

Just want you to know.

![bildschirmfoto 2014-05-28 um 09 25 44](https://cloud.githubusercontent.com/assets/837211/3101673/84f10a98-e639-11e3-840a-6f8fb9cc94c1.png)

[2014-05-28 08:25] #135 closed, assigned to nobody

[2014-06-05 17:30] ghost opened #136 "Shiftit can't be started on OSX 10.10 (Yosemite)"
I know the OS is still in Beta, but you can't start Shiftit because there is no way (that I can find) to enable it in the Accessibility System Preferences

[2014-06-07 16:32] #129 closed, assigned to nobody

[2014-06-07 18:06] #118 closed, assigned to nobody

[2014-07-20 11:32] rochakagrawal opened #145 "ShifitIt! Change Icon for Mac Menu Bar"
Not really an issue but the big black and white icon we have right now for the menu bar does not fit with the overall aesthetics of Mac.
http://www.screencast.com/t/frgv6SXJT6F

Please make the Icon a bit smaller and remove the white to make it transparent Black!

thanks

[2014-07-30 13:34] marlonrichert opened #146 "Maximize does not work correctly if window is already larger than maximize area"
I work on a MacBook Pro with an external display and a Dock that is always visible. When I unplug the display, most of my windows are too large for the laptop display and extend underneath the Dock. If I then use Maximize, instead of filling the normal maximize area, it will extend underneath the Dock to fill the whole screen. I first have to use another shortcut to get the window out from underne

[2014-08-06 20:22] #136 closed, assigned to nobody

[2014-09-01 23:41] esambo opened #147 "Accessibility API be enabled"
After installing, following dialog box is displayed: `UI Element Inspector requires that the Accessibility API be enabled. Please "Enable access for assistive devices and try again".`
The problem is that it opens up Opens up "_Accessibility_" instead of "_Security & Privacy | Privacy | Accessibility_"!

[2014-09-02 00:55] greysonp opened #148 "Shortcuts for 1/3 and 2/3 Sizes"
Hi there! First off, I love the this app! Suuuper helpful.

One feature I wish it had though was the ability to resize windows to 1/3 and 2/3 sizes.  Or just the ability to add custom sizes and shortcuts in general.

Thanks!

[2014-09-09 12:45] jpwgibson opened #149 "Can't Access Preferences (even after relaunch)"
One of my first installs on a new computer is always Shiftit. I installed it today on my new machine running Mavericks (10.9.4), and while the application works, I cannot access its preferences; starting the application no longer places it in the Menubar, nor does it open the preferences dialogue.

[2014-09-22 19:35] atifmansoor opened #150 "Options for when Security & Privacy is locked down on corp. Mac"
Hi,
I can't enable the Accessibility API beause I can't access the Security and Privacy settings under System Preferences (the settings are grayed out because it's a corporate Macbook).  I contacted my IT dept. about this but they can't fix the issue and don't know when either.
Am I out of luck and out of options?  Would there be a similar app I can try to work around this?
I am on 10.9.4 btw.

[2014-09-22 21:55] #150 closed, assigned to nobody

[2014-09-23 08:34] fikovnik opened #151 "Add the trick to setup accessibility permission for ShiftIt using sqlite to README.md"
From #150 and others:

[code]

[2014-10-30 08:48] #147 closed, assigned to fikovnik

[2014-11-15 14:30] arstrube opened #154 "Accessibility permissions not working in OS X Yosemite"
![shiftit](https://cloud.githubusercontent.com/assets/4686469/5057980/243cd0e0-6cdc-11e4-878c-189706b58875.png)

shift does not recognise that permissions are already set :-(

[2014-12-07 07:01] tompuric opened #155 "Minimise functionality"
Pretty Simple, I'd like to use ctl+alt+command+down for minimise  but there's no functionality for that?

[2015-01-07 09:14] designingdesign commented on #149
Same problem 10.9.5

[2015-01-15 21:31] fikovnik commented on #149
Interesting. There might have been a bug. I just pushed a commit to 1.6.1 branch. Can you make build yourself or shall I make one for you?

[2015-02-04 17:23] fikovnik opened #158 "Fix menu icon for the dark mode in Yosemite"
Use the `NSImage.alternateImage` to set a white image for the menu icon.

[2015-02-04 17:50] #158 closed

[2015-02-19 20:41] andrirad commented on #105
The link to the NoX11 build (http://cl.ly/3p071K0S2B0y) does not work anymore. Can you make the build available again?

[2015-02-20 02:51] stembrain commented on #105
@andrirad It works for me. I am accessing from United States. I'll proxy it for you at my site [stembrain.com](http://stembrain.com/ShiftIt-1.6-NoX11.zip)

If someone doesn't mind confirming that the MD5 of ShiftIt-1.6-NoX11.zip is cece57496259db7f3ad283c1d24c62ca that would be great because people could trust my proxy.

[2015-02-20 03:32] southrop commented on #105
Confirmed that the two files match.
[code]

[2015-02-20 08:36] andrirad commented on #105
Thank you it worked

[2015-02-23 08:41] marlonrichert commented on #146
Actually, this seems to be a problem only when my Dock is located on _right_ side of the screen. With the Dock on the left, it works as expected.

[2015-02-26 12:14] SodY2 commented on #148
+1

[2015-03-22 04:31] 1mrlee opened #159 "When triggering to enabling assisted devices (if you install and have it activated yet)"
Please set it to open Security & Privacy Option in settings, then open up the Privacy Tab.

It's currently going to the wrong page in settings.

Thanks

Lee

[2015-03-22 14:02] adius commented on #159
+1

[2015-03-31 13:58] tomasfejfar commented on #136
:+1: re-checking the checkbox worked :)

[2015-04-07 13:24] fikovnik commented on #159
Could you check the latest version - 1.6.1 branch? It should work there. Thanks!

[2015-04-07 23:27] 1mrlee commented on #159
How do I find the 1.6.1 branch?

On Tue, Apr 7, 2015 at 11:24 PM, Filip Krikava <notifications@github.com>
wrote:

--

*   Lee Hung Nguyen   Freelance Digital Designer*

   Ph.      +614 0116 0205
   Web.    mrlee.com.au <http://www.mrlee.com.au/>

[2015-04-08 20:50] TryTryAgain commented on #124
I would love a general OS/dock fix for this too. I've looked at many hopeful workarounds with no success.

[2015-04-08 20:53] fikovnik commented on #159
Can you do a build yourself (clone the source and compile)?

[2015-04-08 23:29] 1mrlee commented on #159
I'm not a developer. I'm just a simple person with a simple mind.

(I'm a designer).

On Thu, Apr 9, 2015 at 6:53 AM, Filip Krikava <notifications@github.com>
wrote:

--

*   Lee Hung Nguyen   Freelance Digital Designer*

   Ph.      +614 0116 0205
   Web.    mrlee.com.au <http://www.mrlee.com.au/>

[2015-04-09 07:54] #151 closed

[2015-04-09 11:30] fikovnik commented on #159
haha :-) I uploaded the release - you can find it [here](https://github.com/fikovnik/ShiftIt/releases/tag/version-1.6.1)

[2015-04-09 11:33] fikovnik commented on #74
In the end it will be just a bit more manual :-) the release steps are printed at the end of `fab release`.

[2015-04-09 11:33] #74 closed

[2015-04-17 01:25] jw84 opened #160 "Next Screen not working"
On 10.10.3

Used ShiftIt for a long time and been doing the trick of click-holding a window then Ctrl+1 or Ctrl+2 to switch screens then dropping the window. Discovered that ShiftIt has this function but when I tried it nothing happens. Any insights?

[2015-04-17 07:57] fikovnik commented on #160
I'm not sure if I understand - there is a ShiftIt action that moves a window from one screen to another (one display to another). It does not involve any click-holding. It is simply ctrl+opt+cmd+n

[2015-04-17 15:05] Jaskarans1ngh commented on #136
how do i even install this on my mac, i downloaded the zip file but dont know what to do from there, please help. Thanks

[2015-04-17 15:08] fikovnik commented on #136
@Jaskarans1ngh - you should get the zip from the [Releases](https://github.com/fikovnik/ShiftIt/releases). Then you simply unzip (double click in Finder) and drag and drop the resulting ShiftIt.app into you Application folder. Finally, open it by double clicking on it.

[2015-04-21 23:01] SuperHenkie commented on #120
Any chance you could add the non-X11 version to [Homebrew Cask](http://caskroom.io/)? (there is already a [cask](https://github.com/caskroom/homebrew-cask/blob/00ce74ef6833c2baeb707d57958759911b3660a1/Casks/shiftit.rb) for the X11-dependant version)

After running `brew cask install shiftit` and messing around with installing xquartz (also through home cask, btw) I finally got it to work, but it w

[2015-04-22 07:42] fikovnik commented on #120
OK, I need to spend some time on this since it apparently does not work. The idea is to have the X11 support loaded at runtime only when X11 is installed. In other words you might only need X11 for compilation.

Which version of ShiftIt have you used?

[2015-04-22 07:47] fikovnik commented on #120
Btw: the X11 ShiftIt cask is outdated - there is now 1.6.1 release

[2015-04-22 07:47] fikovnik opened #161 "Update ShiftIt cask"
https://github.com/caskroom/homebrew-cask/blob/00ce74ef6833c2baeb707d57958759911b3660a1/Casks/shiftit.rb

[2015-04-22 09:01] SuperHenkie commented on #120
I've got ShiftIt version 1.6, but if I check for updates (from within ShiftIt) it says "ShiftIt 1.6 is currently the newest version available."

FYI - I have OS X 10.10.1 (Yosemite) and never did anything with X11 whatsoever (I don't even know what it is).

It would be great if you can keep the cask up to date, by the way. Perhaps it's better to make a cask for 'latest version' (pointing to a corr

[2015-04-22 11:56] fikovnik commented on #120
The problem (that I caused) is that the old version sync with development tree instead of the master one. Can you try again - I hope I changed that.

If not, you can either download it directly form the releases or wait for this change to be applied in cask:
https://github.com/caskroom/homebrew-cask/pull/10783

[2015-04-22 12:46] SuperHenkie commented on #120
OK, thanks, I'll await the cask merge and update it from there (I prefer to keep my software installed through homebrew / cask as much as possible, for easier maintenance).

[2015-04-27 12:32] fikovnik commented on #120
It has been merged in [#10783](https://github.com/caskroom/homebrew-cask/pull/10783)

[2015-04-27 12:52] cipriancaba commented on #120
Just updated to 1.6.1 via automatic updates from the NO X11 version and now I am prompted to install X11.. Please remove this dependency

[2015-04-27 17:24] #120 closed

[2015-04-27 17:47] fikovnik commented on #120
I hope I finally debugged the issue and made a fix followed by a new release 1.6.2. Hope it will work.

[2015-04-27 18:37] TravisBurandt opened #164 "The letter "F" but lowercase is increasing the size oF my window"
When I type the the letter "F", but lowercase, it doesn't output desired result, instead it's increasing the size oF my window.

![screen shot 2015-04-27 at 1 34 26 pm](https://cloud.githubusercontent.com/assets/1987232/7354675/8782988e-ece2-11e4-80de-c52f1c75ff66.png)

[2015-04-27 18:48] keithjgrant commented on #160
I just updated to 1.6.2, and the Next-Screen option is disabled in the menu.  Clicking Ctrl-Command-Alt-N no longer moves the window to my other monitor.

I'm not sure this is what the OP has in mind, here, though.  Based on his description, I can click and drag a window with my mouse, then press Ctrl+1, Ctrl+2, etc to switch virtual desktops, and it will move the window to the new desktop as it s

[2015-04-27 18:59] rickyA4D commented on #160
The function I use the most is no longer working, it appears disabled in the menu "NEXT SCREEN" also seems like Zoom is also disabled - https://www.dropbox.com/s/lh4anjk62z0v3qb/Screenshot%202015-04-27%2011.58.15.png?dl=0

[2015-04-27 19:30] jw84 commented on #160
Hi, what keithjgrant and rickyA4D is describing is what I'm facing.

I can click and drag windows from screen to screen but the command itself doesn't work.

However, in my shifit menu the options are not greyed out.

[2015-04-27 19:32] fikovnik commented on #160
I'm sorry for that, looking into it right now.

[2015-04-27 19:36] rickyA4D commented on #160
@fikovnik thank you so much for taking the time to update this program!  This is one of the few programs I tell people is a must have.  Let me know if there is anything I can do to help. I've rolled back to 1.6.1 and the options are back and available - https://www.dropbox.com/s/mue0nziqor7w135/Screenshot%202015-04-27%2012.35.51.png?dl=0 I can test your fixes if you need some QA.

[2015-04-27 22:04] fikovnik commented on #160
I'm going to roll a new release.

[2015-04-27 22:04] #160 closed

[2015-04-27 22:10] fikovnik commented on #160
@rickyA4D - thanks for encouraging words! this was a stupid mistake I did and only proves the need to some basic automated smoke test before a release is done. I hope now it works. I checked it on a clean installation and the upgrade from 1.6.2 to 1.6.3 works and the actions are all back.

[2015-04-27 22:22] fikovnik commented on #164
Could you please try to upgrade to 1.6.3 - there is a check for new version menu item in the shiftit menu. I hope this is somehow related to a inconsistent release I did.

[2015-04-28 00:56] jw84 commented on #160
:+1: @rickyA4D, shiftit is so mission critical to me for using my mac. Thank you @fikovnik for this!

However even with a clean install I still can't trigger the next screen option :(

Attached is an anigif of my desktop and shiftit: http://recordit.co/4VBfd1eYJC.gif

[2015-04-28 06:43] solmaks opened #165 "Toggle Zoom enters full screen"
Toggle Zoom option puts application into full screen instead of zooming it. Expected behaviour is that application would be zoomed instead, i.e. same as pressing "Alt+zoom button" or selecting the "Window->Zoom" would.

OS X - 10.10.2
ShiftIt - 1.6.3

[2015-04-28 07:46] fikovnik commented on #165
I see the same problem. Before I fix it, you can use maximize. Not the same behavior, but in some cases similar.

[2015-04-28 08:23] fikovnik commented on #165
I had a quick check, but I will have to ask at the apple accessibility mailing list since the code seems to be fine. The problem is that the behavior has changed from 10.9 to 10.10. I tried to simulate the option key press down, but that does not anything. Another option would be to use menu `Window -> Zoom` in the case it exists.

[2015-04-28 08:29] fikovnik commented on #160
Interesting, it works for me. So the following does not work, right?

https://github.com/fikovnik/ShiftIt/releases/download/version-1.6.3/ShiftIt-1.6.3.zip

[2015-04-28 08:40] Gunga opened #166 "Text showing up in Japanese"
When I double click on the app, this keeps popping up:

![screen shot 2015-04-28 at 1 25 27 am](https://cloud.githubusercontent.com/assets/7865250/7365564/52a535b8-ed46-11e4-9e76-4f178abee974.png)

My laptop does not have Japanese set up anywhere as the default language and even when I *enable access for assistive devices* I keep getting that message.

OS X **10.8.5**
ShiftIt **1.6.3**

[2015-04-28 08:49] fikovnik commented on #166
Another good one :(

That will be difficult for me to reproduce. My locale is set to English. If I switch to Japanese it works well. If I switch back to English, ShiftIt is back in English. The Japanese translation was added in 1.6.1. Perhaps what you could do is to just download the latest release manually or via homebrew cask (when it is merged).

[2015-04-28 10:44] jw84 commented on #160
Yup, clean install to 1.6.3 and still not working but everything else works great. On Mac OS X 10.10.3

[2015-04-28 11:08] fikovnik commented on #160
If you have a bit of a time, could you try the following:

1. download the following version - it is basically the same as the 1.6.3, but has debugging enabled:

    https://www.dropbox.com/s/5bvr3t3eg9vc7lc/ShiftIt-1.6.3-debug.app.zip?dl=0

2. extract it somewhere and start (likely you will have to recheck the checkbox in the accessibility permissions)

3. go to `preferences -> advanced` and clic

[2015-04-28 17:00] rickyA4D commented on #160
@fikovnik moving to next screen works for me here is the log -

2015-04-28 10:00:11.818 ShiftIt[1629/0x7fff783bc300] [lvl=1] -[ShiftItAppDelegate handleActionsStateChangeRequest_:] Resuming actions
2015-04-28 10:00:15.771 ShiftIt[1629/0x7fff783bc300] [lvl=2] -[ShiftItAppDelegate invokeShiftItActionByIdentifier_:] Invoking action: nextscreen
2015-04-28 10:00:15.771 ShiftIt[1629/0x7fff783bc300] [lvl

[2015-04-28 17:23] keithjgrant commented on #160
FWIW, 1.6.3 fixed the bug for me as well.  Thanks for the quick turnaround!

[2015-04-28 17:28] johnclaus opened #167 "Accessibilty setting flakiness"
Upon upgrading to 1.6.3, ShiftIt didn't recognize that I already enabled it within System Preferences -> Security & Privacy -> Privacy -> Accessibility.

Even though ShiftIt was already enabled here, I had to uncheck it, check it again, then click "Recheck" in ShiftIt.  Upon doing this, all was well.  I'm running this on OS X 10.10.3, if that's of any help.

[2015-04-28 20:07] fikovnik commented on #167
This is a bit annoying I agree, but unfortunately, it will likely happen with every update. The problem is that the application checksum changes and due to strict security settings one has to do the whole process again as to prevent some malicious app taking over. Anyway, this should be better explained in the text in the dialog.

[2015-04-28 22:40] jw84 commented on #160
Here are my logs:

[code]

[2015-04-28 22:46] jw84 commented on #160
Interesting :] Why is one of the ShiftIt variable missing an "f"?

Based on the logs and comparing it with @rickyA4D I'm surmising maybe the the new window geometry isn't right?

[2015-04-30 01:38] jbrasla opened #168 "Binary builds from 1.6.1 on do not seem to run on OSX 10.7.5"
When trying to run the binary get the message "You have Mac OS X 10.7.5. The application requires Mac OS X 10.8 or later."  Is 1.6 the latest that runs on Mac OS X 10.7.5?  Thanks.

[2015-04-30 05:11] jw84 commented on #160
I think I figured this out. Chalk it up as user error. I had thought shift it to next screen would move it from desktop to desktop, which isn't the case. However on my multimonitor setup I can shift window from monitor to monitor, so that's working as intended :]

[2015-04-30 07:09] NimoTh commented on #148
+1

[2015-04-30 10:20] fikovnik commented on #168
It is although it should still be possible to compile 1.6.3 on 10.7. If you have Xcode you can give it a try. Basically you only need to change the base SDK in the ShiftIt target.

[2015-04-30 13:06] danmoore2205 commented on #166
I'm also having the same problem

[2015-04-30 19:29] xenyz commented on #168
I tried on OS X 10.7.5, XCode 4.6.3 and ran into an error with PreferencesWindow.xib. It asks me to use a newer version of XCode, but my old Macbook Pro can only run Lion.

Here's the build error, but I doubt you need it:

CompileXIB Base.lproj/PreferencesWindow.xib
    cd /Users/adam/Downloads/ShiftIt-version-1.6.3/ShiftIt
    setenv XCODE_DEVELOPER_USR_PATH /Applications/Xcode.app/Contents/Devel

[2015-05-01 13:36] SuperHenkie commented on #120
Great, I tested it (got 1.6.3 actually) and it all seemed to work fine now. Can't be 100% sure because last time, I installed the X11 replacement thing (X11 isn't on yosemite anymore, but instead it came up with Quartz libraries or something, not sure) so that is still on there now.

But I didn't get any errors. Also like to see the new high-res icon in the menu bar :)

I'll soon be able to test i

[2015-05-01 16:22] cipriancaba commented on #120
I can confirm 1.6.3 works on a brand new Yosemite install.. Thanks

[2015-05-01 16:36] SuperHenkie commented on #120
:thumbsup: I will recommend ShiftIt to everybody :)

[2015-05-01 18:38] ckuehne opened #170 "'Authorization Required' screen even after enabling access for assistive devices"
ShiftIt (1.6.3) starts and tells me to enable the setting. When I do so and restart it again, it tells me again.

[2015-05-01 19:17] Gunga commented on #170
I noticed this as part of the issue I opened (#166). Last night I opened a pull request ( https://github.com/fikovnik/ShiftIt/pull/169 ) with a fix. Are you on OS X 10.8.5 (Mountain Lion) ?

[2015-05-02 07:17] ckuehne commented on #170
Yep.

[2015-05-03 02:16] iEFdev commented on #168
I'd also like to see support from 10.6+ on the newer versions.
// Not using xcode anymore, just have the clitools.

[2015-05-03 23:33] jbrasla commented on #168
Thanks for the follow-ups.  I tried compiling with Xcode (Version 4.6.3) for OS X 10.7.5, which failed with the following output (similar to xenyz's):

CompileXIB Base.lproj/MainMenu.xib
    cd /Users/myuser/Applications/ShiftIt/ShiftIt
    setenv XCODE_DEVELOPER_USR_PATH /Applications/Xcode.app/Contents/Developer/usr/bin/..
    /Applications/Xcode.app/Contents/Developer/usr/bin/ibtool --errors --

[2015-05-04 15:18] hilts-vaughan opened #171 "CapsLock does not seem to work as a valid modifier"
I can't seem to use the hotkey Caps Lock + Shift or anything with Caps Lock. I don't use mine and would prefer to use it as a modifier key. Is there any reason ShiftIt does not support the caps lock key functionality?

[2015-05-04 19:15] fikovnik commented on #168
Well, I guess, the easiest is to manually install the version that still work. It should be possible for me to get 10.6 / 10.7 SDK from here http://devernay.free.fr/hacks/xcodelegacy/ but right now I'm busy with paper deadlines and won't be able to work on it.

[2015-05-04 19:26] fikovnik commented on #166
I merged in @Gunga 's patch. Thanks a lot for reporting and contributing.

[2015-05-04 19:26] #166 closed

[2015-05-04 19:27] fikovnik commented on #170
Merged @Gunga 's changes. Thanks a lot for reporting and contributing.

[2015-05-04 19:27] #170 closed

[2015-05-08 12:08] rdewolff opened #173 "toggle "Maximize""
It would be great that the action "Maximize" would become "Toggle Maximize".

So activated once, it would switch the activate window from size A to max available size.
Second activation would toggle max size to size A.

[2015-05-13 09:48] fikovnik commented on #171
Do you know about any other app in which you can use caps lock as a modifier? I personally remap caps lock to control (a habit from old sun keyboards).

Looking at `/System/Library/Frameworks/Carbon.framework/Versions/A/Frameworks/HIToolbox.framework/Versions/A/Headers/Events.h` I do not see capslock:

[code]

On the other hand it seems it is possible to detect it:
https://developer.apple.com/libr

[2015-05-26 16:41] adsherman opened #174 "Can't bind default bindings, or any binding that is ctrl alt option key"
When I try to rebind anything to what are essentially the defaults (ctrl+alt+option+key), it will not register. At most it will accept 2 modifier keys + 1 normal key (i.e. ctrl+option+key). It will also not allow (ctrl+alt+option+2 keys), say for doing top right as (ctrl+alt+option+up+right).

[2015-06-02 08:32] nikcorg opened #175 "Default 1.6.3 locale is Japanese (?)"
When running ShiftIt 1.6.3 for the first time, I'm greeted by [a dialog](https://dl.dropboxusercontent.com/u/8182518/foorumikuvat/Screen%20Shot%202015-06-02%20at%2011.23.54%20AM.png) which is less than intuitive (to me):

![Screenshot of dialog](https://dl.dropboxusercontent.com/u/8182518/foorumikuvat/Screen%20Shot%202015-06-02%20at%2011.23.54%20AM.png)

Is there some way I can force ShiftIt to st

[2015-06-02 08:35] nikcorg commented on #175
Never mind, managed to solve this on my own. Sorry for the noise.

[2015-06-02 08:35] #175 closed

[2015-06-24 15:56] ian-bertolacci opened #176 "TextWrangler resizes but does not move to corners, verticals"
Shiftit version 1.6.3
TextWrangler version 4.5.12

Using the even the default hot-keys, TextWrangler does not move to the corners or to the top or bottom, while still changing size to fit those locations
Does, however, move to sides when commanded.

Probably similar issue to (and could be listed with) apps described on the [Application Compatibility Issues](https://github.com/fikovnik/ShiftIt/wiki

[2015-07-01 02:28] nirvanaforu opened #177 "is there a way to make ShiftIt works with iterm2"
https://www.iterm2.com/

[2015-07-01 17:32] RaphaelDDL commented on #102
Just an update about this issue:

MacBook Pro Yosemite 10.10.3 with Photoshop CC 2014. No luck. The window just jump around but it's size is not changed. Log is empty :/

[2015-07-02 17:02] haydonryan opened #178 "I'm running a large 4K tv as a display"
Would be great to have more options as to sizing.

When working from home my screen is a 55" HDTV 4k TV. Therefore I can fit a lot more than left and right panels.  Would be really cool to see the use of mash+numpad to provide direct movement to a predefined grid (either 2x2 or 3x3).

mash+numpad-7 puts current window into the top left hand corner.

take care,
Haydon

ps Love Shiftit.

[2015-07-06 16:46] aep-shoutlet opened #179 "Wrong hotkey character key displayed in menubar"
The `Command + Left`, `Command + Right`, `Command + Top`... hotkeys I've configured ShiftIt to use for window behaviors are executing correctly, but the key guide in the menubar is mistakenly showing `fn` instead of the Command symbol.

Using ShiftIt 1.6.3 on Mac OS X 10.10.4.

[2015-07-09 07:20] cerker commented on #170
Just for the records: I had the same problem after upgrading to ShiftIt 1.6.3 on 10.9.5. The trick was to disable ShiftIt in the assitive devices list and then enable it again.
This is explained here by @lookfirst: https://github.com/fikovnik/ShiftIt/issues/110#issuecomment-59555725

[2015-07-14 20:11] ssgao commented on #136
uncheck, restart the system, and recheck worked for me

[2015-07-15 22:36] ian-bertolacci commented on #176
Seems to have been fixed/fixed itself.

[2015-07-15 22:36] #176 closed

[2015-07-18 17:09] jonathanPoitz commented on #93
+1! I switched from spectacle to switchIt hoping that that feature would be available, but it seems not. This would be very useful, especially for Terminal that I don't want to resize but only move to the edge of the screen usually.

[2015-07-19 17:51] crimsonalucard opened #180 "add support for simultaneous arrow keys to hot keys."
cntrl cmd option + right: shifts the window to the right. Would it be possible to make
cntrl cmd option + right + up, moves the window to the upper right corner? It's a more intuitive shortcut, and although I have to press more keys, I don't have to move my fingers all the way to the left to press the number. Currently the hotkey menu does not support this.

[2015-07-29 18:50] dfejgelis commented on #177
It works for me..., maybe restarting the app ?

[2015-08-04 08:19] baozilala opened #181 "Does it possible to have some space between apps?"
Does it possible to have some space between apps?
like picture
![4 16 18](https://cloud.githubusercontent.com/assets/774927/9056275/f9b7b284-3a5f-11e5-8a1f-77c36beca2bf.jpg)

[2015-08-04 14:14] fikovnik commented on #181
Hi,

not it is not, yet might become a feature one day.

[2015-08-04 16:35] baozilala commented on #181
ok, good to know and thanks for dev this very good app for open source.

[2015-08-06 01:50] mkbt opened #182 "Custom window layouts or staggered windows"
So, I tend to lay my windows out in various cascaded ways and jump between them. It would be nice if there was a way I could template my favourite window layouts and assign them to a key command.

See attached image for what  I mean.

Is this crazy?

![screen shot 2015-08-06 at 11 50 21 am 2](https://cloud.githubusercontent.com/assets/550077/9102053/5ef8cc46-3c31-11e5-8747-dfb6cbe6c7e6.png)

[2015-08-06 12:09] fikovnik commented on #182
No, this is a very valid request. I have already planned to rework the code base of ShiftIt so it can be easily added.

[2015-08-06 12:26] emattias opened #183 "Support for "Multi-step" keyboard shortcuts"
I would like to have a keyboard shortcut where if I just press CMD + ALT + CTRL + UP it will resize and position the active window to take up the top half of the screen, but if I immediately (within a time limit, maybe 1 second) press LEFT or RIGHT, after the CMD + ALT + CTRL + UP trigger, the window will be positioned in the top left/right quarter instead of the whole top half of the screen.

I t

[2015-08-09 05:59] ufoe opened #184 "is there any dmg package ready for download?"
is there any dmg package ready for download?

thank you.

[2015-08-09 17:25] fikovnik commented on #184
There is zip archive that contains the app available on github ([releases](https://github.com/fikovnik/ShiftIt/releases)). It is also available using brew cask.

[2015-08-09 17:25] #184 closed

[2015-08-18 11:36] brunowego commented on #183
+1

[2015-08-24 17:47] Brainzyy commented on #168
Any news on this?

[2015-08-25 11:36] fikovnik commented on #168
No, not really, I do not have access to any older OS X version so I cannot progress on it. Any patches are of course welcomed.

[2015-09-05 20:18] blafusel opened #186 "Preferences not opening"
This is for version 1.6.3 on OS X El Capitan 10.11 Beta.

When selected Preferences from the pulldown my currently active window is deselected, but I do not see any Preferences panel/window coming up.

[2015-09-05 20:57] #186 closed

[2015-09-05 20:57] blafusel commented on #186
nervermind - restart fixed it

[2015-10-07 04:58] msbit commented on #111
Same on OSX 10.10.5:
[code]

[2015-10-10 22:12] #71 closed

[2015-10-15 18:58] haol615 commented on #170
I'm on 10.10.5 and have the same problem, even after disabling and enabling ShiftIt in Accessibility. Is there any other workaround that I can try? Thanks!

[2015-10-15 19:11] Gunga commented on #170
Hey @haol615, If you downloaded the latest release (1.6.3) it would still be happening because the changes I made were merged into **develop** branch but haven't been merged into _master_ yet. You can checkout that branch and build it yourself or wait for an official 1.6.4 to release.

[2015-10-15 19:18] haol615 commented on #170
Gotcha. Thanks, @Gunga ! I've downloaded 1.5 for now and I'll wait for 1.6.4.

[2015-10-21 08:50] msbit commented on #103
As it's using the Google Toolbox for Mac for the logging, you can get it working (for Info, Error and Assert level logging) by setting the `GTMVerboseLogging` preference. From Terminal:

`defaults write -globalDomain GTMVerboseLogging true`

[2015-10-29 23:10] heynairb commented on #183
I actually want CMD + ALT + CTRL + UP + LEFT to move it to the upper left. I find this far more intuitive then a timer.

This feature can be enabled basically by enabling hot keys to support multiple characters. I find that feature far more basic and potentially less annoying.

[2015-11-09 06:41] moontan commented on #9
Hey, thank you for still providing backward-compatibility up to version 1.6, though I don't know if you are still maintaining that one.
I newly installed OS X 10.6 Snow Leopard on an older machine and installed ShiftIt v1.6 from the builds you can download here. It worked well with the exception of these bugs:
• Switching from +right screen half+ to +bottom screen half+ unexpectedly produces a +to

[2015-11-23 14:57] Dmole opened #188 "Segmentation fault"
Sometimes shiftit will show the Spinning Beach Ball  on mouseover of the icon after using a key command to move a window, then shiftit will quit. the key command will work after re-opening shift it.

Process:               ShiftIt [63355]
Path:                  /Applications/ShiftIt.app/Contents/MacOS/ShiftIt
Identifier:            org.shiftitapp.ShiftIt
Version:               1.6.3 (1.6.3)
Code T

[2015-11-24 10:20] fikovnik commented on #188
Do you use X11?

[2015-11-24 14:12] Dmole commented on #188
Yes, I sometimes use Inkscape, but I think X11 was not running at the time or that crash, only Terminal, Chrome, and Eclipse. I am not able to reproduce this issue while running Inkscape in X11. ShiftIt
 will normally crash when the system is under load and I ask it to move a window.

[2015-11-25 21:12] AugustusZ commented on #120
Finally!

[2015-12-01 16:58] muffinman148 opened #189 "Maping Hotkey w/ Control + Alt + Command + L is not working"
Trying to emulate a vim interface. I'm thinking its already used in some fashion and that's why it doesn't work.

[2015-12-02 14:24] Dmole commented on #188
Today I was doing some really heavy disk IO so I tested again and was able to crash it 3 times, every time shift it erroneously opened X11.

[2015-12-02 23:24] fikovnik commented on #188
For me it is difficult to reproduce, but there is definitely a bug :-/ The thing is that the usability API is not have very high fidelity and sometimes it does not correctly report back the window handler. In that case ShiftIt, incorrectly, fall backs to X11.

[2015-12-02 23:28] Dmole commented on #188
Try using a HDD (not an SSD) and a disk testing tool to reproduce, I was using rdiff-backup and I could get it to crash quite reliably. .... maybe add an option to not try x11 and just give up if nothing is returned in a timely manner.

[2015-12-06 01:36] SkipHendriks commented on #124
Same issue, running El Capitan. OS X also doesn't let you drag the edge of a window (resize) into this margin. You can drag (move) the window into it, but you can't resize it into the margin. Disabling the dock works, but for me this isn't the option. Moving the window into the margin and resizing the window into the opposite direction works, so that might be a workaround.

[2015-12-06 10:22] fikovnik commented on #124
Do I assume correctly, that this only happens when the dock is on the right / left side and it works well when it is at the bottom?

[2015-12-08 08:30] SkipHendriks commented on #124
Sadly, no. It's present in all cases, but it is more obvious/annoying when on the left/right.

[2015-12-14 21:12] khiwasa opened #190 "compatibility with os x 10.11.2"
After system update to 10.11.2, ShiftIt App stopped working on Inkskape.

[2015-12-14 21:16] khiwasa commented on #190
It turned out the issue was resolved itself somehow. The problem just disappeared after 5 min or so.

[2015-12-14 21:16] #190 closed

[2015-12-28 21:16] leomikezee opened #191 "Can't work with Steam's windows"
Can't change the size and position of Steam's windows.

[2016-01-11 15:10] WolfgangFahl opened #192 "To open ShiftIt you need to install X11"
To work around https://xquartz.macosforge.org/trac/ticket/796
of Macports I'd like to use ShiftIt. The softare looks promising.

When I start it i get the Message "To open ShiftIt you need to install X11 ...".

I did install X11 with Macports and could start inkscape and the like. ShiftIt is to solve the followup problems. What do I need to do to get Shiftit to recognize my X11?

[2016-01-18 16:55] wwvolunteers opened #193 "Sometimes resizes without move"
From time to time ShiftIt doesn't work correctly - can't figure out in which cases. One day it works well every time, another day it has this error every time.

Resize works fine, but position doesn't change.

[2016-01-18 17:22] fikovnik commented on #193
Sorry for the inconvenience, but that will be hard to chase down. The problem is very likely in the usability API provided by OSX, sometimes it does not respond well.

[2016-01-18 18:38] halukkaramete opened #194 "an enhancement request if possible"
Thank you for the great program. This is an enhancement request when you get the time.

Here is the case:

Once I create the perfect layout for the (let's say 3 ) windows that I work all the time, I'd like to save that layout.

For example, now I got the atom editor on the left at 60%, and chrome on the remaining top right and iTerm right below it.

Wouldn't be awesome to go to shiftit pref and sa

[2016-01-19 03:36] qqli007 opened #195 "brew cask install not work"
brew cask install shiftit
Error: Cask 'shiftit' definition is invalid: Bad header line: parse failed

![image](https://cloud.githubusercontent.com/assets/4232775/12408978/cbecf646-bea0-11e5-962b-3c6edb47e826.png)

[2016-01-21 19:04] Skinner927 commented on #173
+1

[2016-01-22 09:40] fikovnik commented on #173
I agree, but for this the windows would have to become stateful. This is long due, but hard to find time for this.

[2016-01-22 11:19] awidgery opened #196 "Moving the dock from one screen to another results in maximised windows overlapping the dock"
I have a Macbook with an external display.

The dock was on the Macbook display, but I've now moved it to the external display.

ShiftIt seems to still think that the dock is on the Macbook display, so that if I maximised a window on that display, it leaves a gap at the bottom for where the dock used to be. On the external display (where the dock is now), maximised windows are expanded to fill the

[2016-01-22 12:27] qqli007 commented on #195
update the brew and brew cask, it will be ok.

[2016-01-22 12:27] #195 closed

[2016-01-27 18:22] mcandre commented on #196
+1

Mitigation:

Quit and restart ShiftIt.

[2016-01-30 05:02] aels commented on #9
excuse me. In what version gap has been removed? when installed from brew (1.6.3) annoying gap of hidden dock still exist.

[2016-02-01 21:16] larssono opened #197 "Add support of move to next/previous space"
I love the ability to move content between screens Ctrl-Option-Command-N/P but tend to have more spaces than screens.  Would it be possible to add the funtionality to move a window between spaces?

[2016-02-10 07:45] kramer65 opened #198 "Maximise by dragging to top possible"
In addition to the hotkeys, I'm also looking for the functionality to:

 1. maximise a window by dragging it agains the top of the screen
 2. move it to the left half of the screen by dragging it to the left border of the screen.
 3. move it to the right half of the screen by dragging it to the right border of the screen.

Since I think Shiftit doesn't support this yet, I guess this is a feature r

[2016-02-10 19:59] dominikschreiber commented on #198
definitely +1

(@GitHub: there should really be a +1 button to prevent meaningless comments like this one)

[2016-02-14 16:07] cy2k opened #199 "Screen on first open is not in English"
First time user, when I installed and then opened for the first time, I'm getting a pop up message about the accessibility settings, but it's not in English so I'm unable to validate if I'm doing the right thing or not.  See screenshots below:

![screen shot 2016-02-14 at 11 03 26 am](https://cloud.githubusercontent.com/assets/3419396/13034720/f96b3794-d30a-11e5-875b-5b1a8867438e.png)

When I chec

[2016-02-16 05:26] apoorv03 opened #200 "Wrong screen resolutions with external monitors"
Hey fikovnik - first things first, great work the software is incredible.

Quick question - I can't get this to work with an external monitor. The screen resolution is broken. Any hints on how to fix it? Thanks!

[2016-02-17 16:32] realalexhomer opened #201 "Enable shiftit without setting permissions?"
Hi,
I just started a new job where there are pretty strict security measures in effect. I don't have access to security / privacy settings in system preferences and therefore can't use shiftit it seems. I am kind of addicted to using shiftit and am not looking forward to having to work / code without it.

I am curious if there are any possible workarounds or if this is just a limitation that can't

[2016-02-19 15:55] RomainBoulay opened #202 "Keyboard shortcuts are broken after input source changes"
Hey,

First, thanks a lot for this software, that's a very good product I use every day.

I'm writing here because I've noticed that after a change of input source (for example from a US layout to a French one), the keyboard shortcuts are not changed accordingly. Thus they don't work, unless you hit the keys of the previous mapping.

Thanks in advance for this bugfix, I hope that's not much to cha

[2016-02-25 13:58] fikovnik commented on #202
That is an interesting issue. I'm now waiting for a new laptop, once I have it I will look into it.

[2016-03-03 14:51] bornalexhomer commented on #201
If anyone could point me in the right direction I would also be willing to contribute

[2016-03-03 15:21] fikovnik commented on #201
This might be difficult. One way would be to implement a new driver based on apple script. Either generate apple script on the fly [1] or the scripting bridge [1] (maybe it is very outdated technology).

Another alternative are the functions referenced from: http://freequartz.googlecode.com/svn/trunk/CoreGraphics/include/CoreGraphics/CoreGraphicsPrivate.h

[1] https://snipt.net/nick/applescript-to

[2016-03-14 10:42] SkipHendriks commented on #124
Any chance of this getting fixed?

[2016-03-14 19:35] realalexhomer commented on #201
Hey,
Thanks for getting back to me. I actually managed to hack around it with this:

https://github.com/fikovnik/ShiftIt/issues/151

[2016-03-14 19:35] #201 closed

[2016-03-22 02:50] bdalton-echo commented on #197
This is something that I would love.

[2016-03-22 02:51] bdalton-echo commented on #121
Can verify this is the case on El Cap as well and Shiftit 1.6.3

[2016-04-15 14:15] tonimerlot opened #204 "export configuration"
I would the function to export the configuration.

[2016-04-16 01:34] yeahdef commented on #124
a fix, please - this is quite annoying to me as well

[2016-04-21 12:54] brunowego commented on #102
Do not work for me too.

OSX 10.11, ShiftIt 1.6.3 and Photoshop CC

Thanks!

[2016-05-04 19:07] siddharth-krishna opened #205 "Windows 10 style left/right also move to next display"
Thanks for a great app! One feature I miss from Windows is having the same hotkeys to both move a window to the left/right half-screen as well as to the next display. For example, the first time I press Win-RightArrow it moves the current window to the right half of the current screen, and the second time I press it it moves it to the left half of the next screen. This allows me to cycle a window

[2016-05-05 17:39] LeventAtasoy opened #206 "How to make keyboard shortcuts work within Remote Desktop"
I love ShiftIt. It has practically everything one would need.
The only issue I ran into is that if when I RemoteDesktop to other OS-X machines that is running ShiftIt in full mode in the next Workspace, the keyboard shortcuts do not work in the Remote Desktop workspaces until I kill ShifIt in my local machine.
So, every time I am working on the remote machine I have to kill the local one, and then

[2016-05-13 09:59] skhattane opened #207 "ShiftIt 1.6.3 doesn't work on ElCapitan 10.11.4"
The app doesn't launch correctly and hotkeys failed. The icon is not visible in system tray.
Someone have the same issue ?

[2016-05-13 11:21] fikovnik commented on #207
I have not updated yet, but will check asap.

[2016-05-19 16:41] mat128 commented on #148
Any updates for this? :)

[2016-05-19 17:17] greysonp commented on #148
Last commit to both master and develop branches was a year ago. And hey, can't blame the owner, maintaining OSS can be hard. However, I've since switched to [spectacle](https://github.com/eczarny/spectacle) which is still actively maintained. Their resizing feature goes in steps smaller than 1/2 :)

[2016-05-21 12:38] skhattane commented on #207
After reinstall shiftit 1.6.3, it works. I don't know why the issue the first time.

[2016-05-21 12:38] #207 closed

[2016-05-21 16:21] fikovnik commented on #207
I don't think you need to reinstall - you only need to give it back the permissions to use accessibility API. It should prompt for it. I just updated to 10.11.4 and it worked as expected.

[2016-05-21 17:37] Brainzyy commented on #168
The reason we can't compile @jbrasla @xenyz is because the xib files are defined for xcode5 which we cannot use. @fikovnik you can change this very easily in xcode, could you send over the xib files that can be opened in xcode 4?

[2016-05-21 17:41] fikovnik commented on #168
Could you a bit more specific how can I export the xibs into Xcode 4?

[2016-05-21 17:47] Brainzyy commented on #168
@fikovnik 1. Right-Click the xibs
2. Open file inspector
3. On Interface Builder Documents section change Open with to Xcode 4.6.
3. Save

[2016-05-21 17:50] fikovnik commented on #168
Thanks for the howto. Unfortunately, the earliest Xcode is 5.1. Will that be any helpful?

[2016-05-21 18:05] Brainzyy commented on #168
Should be perfect.

[2016-05-21 18:24] fikovnik commented on #168
OK, pushed in develop branch 76e6743.

[2016-06-03 16:05] Brainzyy commented on #168
@fikovnik I made some progress. I was able to compile everything with no problems on 10.8.5 and it works on there. But when I compile it for 10.7 and then try to run my compiled version, the console shows these errors:
ShiftIt: Unable to load nib file: MainMenu, exiting
com.apple.launchd.peruser.501: ([0x0-0x22022].org.shiftitapp.ShiftIt[1433]) Exited with code: 1
I'll try to export the project fo

[2016-06-11 19:32] rjmazzeo opened #209 "X11 and OSX Dock on the left"
Before I go onto the issue I am experiencing: thank you for creating a snapping tool that works with x11! Some of us still have to use it even if Apple doesn't want it around.

On to the issue: When OSX Dock is on the left Shiftit seems to be snapping underneath the dock rather than anchoring to it for X11 windows. Works fine for non X11 windows or if I dock on the bottom/right.

When I dock on th

[2016-06-11 20:25] rjmazzeo commented on #209
This might be XQuartz getting things wrong. Apologies if it is.

[2016-06-12 04:23] fikovnik commented on #209
I think it is more a bug. If you want to dive a bit into objective-c I think the problem is in the X11Driver in the setGeometry method - there it wrongly adjusts the coordinates. I'm now on holidays so I won't be able to fix.

[2016-06-12 19:36] rjmazzeo commented on #209
well I commented out X11WindowsDriver.m:232 and that seems to fix it but that seems like a bit of a random fix. I'll watch it for a bit and let you.

Commented out:
gcGeometry.origin.x -= ref.origin.x;

[2016-06-28 00:51] ecbrodie opened #210 "Doesn't recognize that I already enabled Accessibility permissions"
I have a MacOS 10.11.5 desktop and I downloaded ShiftIt through Homebrew last week.

After installing, I enabled Accessibility Permissions trough the Security --> Privacy tab in System Preferences. However, every time I do a ShiftIt command (ie, ctrl-cmd-M for maximize screen), I still get that popup prompt to set those permissions again. I have followed the instructions multiple times, even disab

[2016-06-28 09:18] fikovnik commented on #210
That will be tricky for me to debug. I would try to remove ShiftIt from the list of permitted apps in the system preferences and then to run it again.

You can recheck what is really in the system using the following:
[code]

which should show something like:
[code]

[2016-06-28 18:21] miqmago commented on #182
Thanks for ShiftIt. This featyre would be really helpfull.
Currently, before start working in a workspace I'm organizing the windows in the following way and this feature would speed up this process:

For each window:

- ^+Alt+Cmd+m
- ^+Alt+Cmd+'
- Place the window in cascade

[2016-06-30 02:44] ecbrodie commented on #210
Sorry, I'm going to close this issue. The problem was that I still had SizeUp installed and running on my computer. With SizeUp closed, there is no error message, as expected.

[2016-06-30 02:44] #210 closed

[2016-07-18 14:07] dynamicdan commented on #131
Also happens to me.
So far it seems like when I'm "doing a lot at once" it crashes. Maybe an issue for those without much available memory? At least the report hints at a pointer/memory error.

Perhaps you can find a correlation with my bug report:

Process:               ShiftIt [850]
Path:                  /Applications/ShiftIt.app/Contents/MacOS/ShiftIt
Identifier:            ShiftIt
Version:

[2016-08-01 08:17] tonimerlot commented on #204
moved to requests

[2016-08-01 08:17] #204 closed

[2016-08-01 08:22] tonimerlot opened #212 "export configuration"
I would the function to export the configuration. #211

[2016-08-05 08:29] larsenwork opened #213 "External monitor causes shiftit to think window is in fullscreen"
Even though it isn't.
Unplugging and reattaching the monitor fixed the problem.

[code]

[2016-08-05 08:31] larsenwork commented on #213
Hmm, only temporarily fixed it — issue's back again

[2016-08-07 17:50] fikovnik commented on #213
It looks like it does not identify correctly which window is actually in focus. Could this be the problem? I almost never use the windows in fullscreen so I have never tested shifted on that.

[2016-08-07 21:53] larsenwork commented on #213
@fikovnik sounds plausible, any way to log what window shiftit think is in focus?

[2016-08-08 11:17] fikovnik commented on #213
@larsenwork do know a bit objective-c?

[2016-08-08 13:30] larsenwork commented on #213
@fikovnik some, my brother does, so he can help me — any pointers?

[2016-08-08 13:46] fikovnik commented on #213
Excellent. I would start looking into `WindowGeometryShiftItAction` into `execute` method. There it uses a window context to get the focused window:
[code]

I think this should be the starting point for debugging.

[2016-08-11 22:41] drien commented on #193
For what it's worth I had this issue for a long time but it seems to be resolved with the latest update to OS X 10.11.6 (15G31).

[2016-08-16 02:00] Eulerizeit commented on #177
It works for me as well.

[2016-08-16 09:34] fikovnik commented on #177
I use it every day and it works just fine. Can you please provide more details about what does not work?

[2016-09-03 10:38] dwiyatci commented on #198
@dominikschreiber There's this "Add your reaction" thingy that you can pick on top-right of each comment. 😋

[2016-09-06 03:06] gordio opened #214 "Move/Resize windows with hotkey+mouse_left/right buttons."
If hold cmd and hold mouse left - window moves with mouse.
Same with resizing.

[2016-09-08 12:38] fikovnik commented on #198
I would like that as well :-) Soon I shall have a new laptop on which I can finally code.

[2016-09-15 23:19] thynctank opened #215 "Individually allow width/height manipulation, window positioning, screen jumping"
Hi folks, hope this is an ok place to be asking for features... (and I may contribute if I find time/energy to learn new languages etc, I'm not *just* a consumer-parasite, I'd like to think of myself as a symbiote most of the time)

I'm a huge fan of an application called Optimal Layout. While the developer of the app has been responsive, and provides a fairly open license (it is payware), I would

[2016-09-24 00:17] ktzestfinance commented on #202
Same applies to non-qwerty users. I use hardware-mapped keyboard at work so the laptop thinks it's qwerty, but when I use laptop alone I switch to colemak - as soon as this happens - shiftit breaks. it works using old qwerty keys (for example C-n in colemak is C-j on qwerty and I have to press the qwerty C-n to use that mapping).

[2016-09-24 06:14] DaveyJake commented on #213
Any update on this? Just installed macOS Sierra today and noticed the issue as well.

Interesting to note: When Chrome is fullscreen on one (of my three) external monitors ShiftIt will perform but only for the front-most non-focused Chrome window. If will not work on other apps even if they're focused. Sublime Text 3 is one I'm currently experiencing this issue with.

The error I get is as follows

[2016-09-30 15:36] biddster commented on #213
Seeing exactly the same as above with WebStorm/AppCode etc.

[2016-09-30 16:48] Pivotal-Jayson-Hairston opened #216 "ShiftIt commands not working at all with MacOS Sierra update"
ShiftIt commands not working at all with MacOS Sierra update

[2016-09-30 20:13] fikovnik commented on #216
I have not upgraded yet, could you please be more specific?

[2016-10-01 08:10] Neejoh commented on #216
I'm running macOS and ShiftIt doesn't run at all in my case.
I've tried using 1.6.3, freshly downloaded. It first says it's not signed, then when I "open anyway" via Security & Privacy it doesn't do much. In the Activity Monitor it says the process is running, but only with 4KB memory and nothing else to show for and no way to interact with it.
Tried killing it, both via the Activity Monitor and b

[2016-10-02 17:00] fikovnik commented on #216
Did you re-enable the shiftit in the "Accessibilty" -> "Allow the apps  below to control your computer"?

[2016-10-03 19:37] Neejoh commented on #216
Can't find anything Shiftit related in Accessibility.

[2016-10-03 20:43] fikovnik commented on #216
It is not even in the menu bar?

[2016-10-04 05:49] Neejoh commented on #216
Nope.

[2016-10-05 16:52] unRob commented on #216
On multiple monitors, having a single full-screen app anywhere makes that app's frontmost window the target of all ShiftIt commands, even if that app is not active or focused. Otherwise, ShiftIt works just as before the Sierra upgrade.

The debug log outputs:

[code]

[2016-10-05 17:07] fikovnik commented on #216
So it does work (well apart of this) on Sierra.

[2016-10-05 17:48] unRob commented on #216
Yes, as long as there is no visible full-screen window it works for me on 10.12 with ShiftIt version 1.6.3

[2016-10-06 12:25] sunnykgupta commented on #216
Perfect. I was facing the same issue. I had a full-screen window on a second monitor. So I'm guessing it was hogging up the shift commands.
Now it is working for me too in macOS Sierra.

[2016-10-06 13:40] deldrid1 commented on #216
Any ideas what the bug might be with having a full-screen window open on a second monitor?  I lean heavily on shift-it for monitor 1, but my second monitor is always a full-screen instance of Fusion...

[2016-10-06 15:05] Pivotal-Jayson-Hairston commented on #216
I just now seen these responses. It is now working for me as well now. It
just started working after about two days. I'm not sure if a full screen
was in another window, but I was using a second monitor when I first
upgraded and tried to use ShiftIt. I will lookout for the bug, but I think
its working fine now.

I do believe it is possible that I had to re-enable the "Allow the apps
below to contr

[2016-10-08 08:19] finira opened #218 "Shiftlt cannot work on Pages.app"
I open Pages on mac EI CAPTAIN 10.11.6,it cannot work.Others such as Chrome or Safari is OK.

[2016-10-09 01:44] finira commented on #218
Sorry,it works after rebooted.
Well,computer rebooting can resolve 99% problems.

[2016-10-09 01:44] #218 closed

[2016-10-10 12:55] HybridProgrammer commented on #216
I can confirm the same behavior that was described by @unRob. I have multiple monitors and had one application in full screen mode. I used the two finger swipe (magic mouse, 4 fingers with touchpad) to switch back to the main desktop window and ShiftIt started working again.

I did not have to re-enable ShiftIt in Accessibility. Those settings carried over after the update to macOS Sierra.

[2016-10-14 09:45] bittner commented on #99
Any plans to implement this in near future?

- I used to use [Stay](http://alternativeto.net/software/stay/) for this task, but Open Source feels better. Especially when you discover bugs - you can do something about it (more easily).
- I think I had also tried [Slate](https://github.com/jigish/slate) in the past, which works based on config files. But of course a GUI is much nicer (hey, we're on

[2016-10-14 09:59] bittner commented on #37
Consider [dual-licensing](https://duckduckgo.com/?q=dual+licensing&atb=v32-6b_&ia=about). Simply add MIT as an option to choose from. Here are some discussions, and what Richard Stallman says about dual-licensing:

- [GPL/MIT dual-licensing for JavaScript](http://programmers.stackexchange.com/questions/139663/confusion-about-dual-license-mit-gpl-javascript-for-use-on-my-website)
- [address the iss

[2016-10-14 19:12] mvxt opened #219 "Shiftit Unresponsive In Multi-Monitor Scenario With Fullscreen Terminal (iTerm2)"
I tried to look through already-open issues to find something similar but didn't.

_**Summary**_
With a multi-screen setup (external monitors and built-in), if iTerm2  is used in fullscreen mode, Shiftit becomes unresponsive and stops working entirely.

_**System Info**_
macOS Sierra (10.12)
MacBook Pro (Retina, 15-inch, Mid 2015)
**Processor** 2.5 GHz Intel Core i7
**Memory** 16 GB 1600 MHz DDR3

[2016-10-14 21:17] fikovnik commented on #219
This is the same as #216.

[2016-10-14 21:17] #219 closed

[2016-10-16 00:36] coolsebz commented on #216
Recently hit the same problem. Even though the settings were kept after upgrading I tried re-enabling ShiftIt in Accessibility but to no success

[2016-10-16 11:40] Neejoh commented on #216
I haven't updated anything and it suddenly works?!
I have a single monitor but Spotify in full screen, and it still works. Again, I didn't change anything. I think macOS updated though... Now running macOS 10.12.1 beta (16B2548a)

[2016-10-16 20:43] rain0r commented on #216
Unfortunately, I have the same problem since the upgrade to Sierra.

This is what I tried:

- Uninstall and re-install shiftit
- Disable and re-enable the Accessibility permission
- reboot (lol)

When I execute `/Applications/ShiftIt.app/Contents/MacOS/ShiftIt` from command line it always tells me to grant the Accessibility permissions.

When I start shiftit from spotlight nothing happens.

[2016-10-17 13:37] fikovnik commented on #216
I will try to upgrade during the week to give it a try.

[2016-10-18 12:42] synthetiv commented on #216
Just want to confirm that I too found ShiftIt to be unreliable after upgrading to Sierra – sometimes the keyboard commands would work, sometimes they wouldn't. Thanks to others in this thread, I now realize that when it works, it's because I don't have any full-screen apps currently active (they can be _running,_ they just can't be _active_). Any time it's not working, all I have to do is switch o

[2016-10-19 18:53] fikovnik commented on #216
Thanks for all the comments. I upgraded to sierra today. I committed a change that hopefully fixes this issue. I was wondering if any of you could check it? It is in the latest develop branch 14ca76a1f66197e4df140f989525b659d449eca9. Thanks!

[2016-10-24 16:08] unRob commented on #216
I can confirm it is working in the edge cases it wasn't responding before. Great work @fikovnik , thanks!

[2016-10-25 21:01] rain0r commented on #216
Does anybody else experience the issue that ShiftIt is not even starting up? Not even the new beta.

First time starting ShiftIt brings up the dialog that says I should enable it in Settings -> Accessibilty.
After doing so and clicking on "recheck" the window disappears and nothing happens.
Starting ShiftIt again results in ... nothing.

[2016-10-25 22:16] philosopherdog commented on #216
@fikovnik The beta seems to have fixed the issue so far. thanx.

[2016-10-29 06:31] ethanrolfe opened #220 "1080x1920 portrait bottom alignment broken"
Windows are put around two-thirds of the way down the screen when trying to align on the bottom (ctrl+opt+cmd+down)

[2016-10-31 15:34] fikovnik commented on #216
@rain0r - have you tried the beta - 1.6.4?

[2016-11-02 02:58] minhoolee commented on #216
Is the beta supposed to be listed as version 1.6.3 in the app? I unzipped the zip file at the 1.6.4 beta release, but I am still encountering the same problem (full screen on second monitor) with the unzipped app. This is on Mac OS Sierra and I have modified the Accessibility preferences (it works normally).

[2016-11-05 22:11] rain0r commented on #216
@fikovnik  - yes and I experience the same issues.

[2016-11-08 01:19] stevenshim opened #221 "Hot keys not working in some condition with OS Sierra"
After I updated mac OS to Sierra, hot keys doesn't work in some condition.

I use multi monitor.
When I enter any application into full screen on one side, hot keys doesn't work on any application which is not in full screen on other side monitor.
It was ok with older version of Mac OS.

Thanks

[2016-11-08 15:45] fikovnik commented on #221
Looks like #216  - please try the beta version 1.6.4 downloadable form github.

[2016-11-08 18:34] fikovnik commented on #37
The licensing issue should be easily fixed I think, the problem is that to publish on App Store you need to pay for the developer subscription which I'm not going to do.

btw: ShiftIt is in homebrew.

[2016-11-14 02:23] stevenshim commented on #221
it works like a charm :)

[2016-11-14 02:24] #221 closed

[2016-11-22 01:21] petekowalsky commented on #216
@fikovnik ShiftIt is an every day tool for me too, and with my triple-monitor setup after Sierra upgrade, I have the same issues, and have the same current experience as @minhoolee above with the 1.6.4 beta build. Unfortunately, it's not working for me, but if I move any full-screen windows off and use a regular workspace on any monitor it works fine (same as with 1.6.3 release).

Hope you can fix

[2016-11-22 04:12] fikovnik commented on #216
This is difficult for me to reproduce, but I will try to add more debugging output to narrow it down. Thanks for the patience!

[2016-12-05 10:25] bxm commented on #196
This workaround is only partially useful ... I often move my Dock about, restarting the app each time means a different screen "forgets" about how big the Dock should be.

The behaviour is a little odd and inconsistent.  Sometimes Maximise respects the Dock zone, and Upper/Lower half operations don't.  Sometime's 2 out of 3 Displays seem to respect it in all aspects, while one flatly ignores it.

[2016-12-06 11:54] dimitrieh commented on #45
@fikovnik would like to see this as well, invoking split screen in the process

[2016-12-11 07:47] waltz commented on #183
There's a fork that has this kind of behavior. The version that's maintained by @onsi does this pretty well. https://github.com/onsi/shiftit

I'd love to see it ported over to this fork.

[2016-12-12 00:46] fikovnik commented on #183
I would love to have PR, I think that is the point the collaboration on github. @onsi?

[2016-12-16 17:31] cvanderwall14 opened #222 "Not working with two monitors if one has a full screen app"
ShiftIt is failing with two monitors if an application is maximized one of the screens. For example, I usually have Chrome and Emacs open on my large external monitor and switch between Slack and Spotify (both maximized) on my Macbook Air's screen. None of the ShiftIt commands work on the apps showing in my external monitor if Slack is maximized and displayed on my laptop screen. If I switch to a

[2016-12-17 00:39] fikovnik commented on #222
Please check the latest beta available in releases. This is the same as in #216

[2017-01-05 17:40] TylerBarnes opened #225 "Feature request: top top left"
It would be useful for large screens to be divided into 16 instead of 4. On a large imac each quarter of the screen is nearly the size of a macbook screen.

This could be implemented by allowing two commands to be pressed one after the other where the second command cascades into the bounds of the first.
ie the command to move the window to the top left could be pressed and the window would move b

[2017-01-15 16:32] ralcr opened #226 "Scaling"
Hi,
Would be possible to scale the entire window like expose on the mac is doing?

[2017-01-15 18:45] fikovnik commented on #226
The maximize is not the same?

[2017-01-15 19:29] ralcr commented on #226
No, expose feature is scaling the windows not changing their size.

[2017-01-16 03:34] fikovnik commented on #226
Can you be a bit more specific, maybe I'm dumb, but I'm bot sure what you are after

[2017-01-16 04:10] ralcr commented on #226
Maybe you are new to Mac and you don't know what expose means? It's when the apps are scaled down so you can see them all at once, the feature is called mission control now. https://en.m.wikipedia.org/wiki/Mission_Control_(macOS) thanks

[2017-01-16 06:14] VadimKulagin commented on #226
Can you describe the use case? What is it for? And it's better than resizing the window? I use Expose & Mission Control every day, but do not understand why you need it for one window.

[2017-01-16 06:38] ralcr commented on #226
Sure, i want to make something like a picture-in-picture, like the videos in sierra, for apps. I think scaling looks and feels more natural than messing with the content of the window. I do not want to use them when they are scaled down but to have quicker access to them.

[2017-01-19 15:34] fikovnik commented on #226
Well, pull request is very welcome :-)

[2017-01-19 21:38] tleveque23 opened #227 "Feature request: toggle previous size"
It would be very nice to have a shortcut to toggle between the current size and the previous size (and position) of a window.

I.e: If you are working with 2 windows that you have adjusted to be 2/3 and 1/3 of the window, but you want maximize window 1 to do some dedicated work. Currently, to go back to the previous setting, you have do the adjustments of the window 1 again... Just a shortcut to d

[2017-01-26 21:30] sepehr commented on #26
Would be great!

[2017-01-29 02:02] wav commented on #222
FYI: I was experiencing the same with 1.6.3. I tried the 1.6.4 beta today it works as expected now.

[2017-01-30 09:29] levipadre commented on #124
Same problem with Macbook Pro 2016. Biggest gap with Terminal, when I use on the Left or Right.
Dock is at the bottom in hidden state.
Attached screen (Chrome and Terminal next each other)
<img width="1851" alt="screen shot 2017-01-30 at 09 27 07" src="https://cloud.githubusercontent.com/assets/357974/22417885/5c2dd026-e6ce-11e6-812b-caebfbfb54fa.png">

Please try to fix it.
Thanks

[2017-01-30 15:27] fikovnik commented on #124
The problem with terminal is that it does not support continuous resizing. This makes senses since there is a fixed amount of lines to be displayed (you never see half of a line).

Besides that, yes, there is a bug making the window size to be a bit off from the hidden dock.

[2017-01-30 15:30] levipadre commented on #124
Ok, understood. Thanks for letting me know.

[2017-01-30 15:57] fikovnik commented on #222
@cvanderwall14 - does the 1.6.4 works for you?

[2017-01-30 16:53] cvanderwall14 commented on #222
1.6.4 fixes this issue for me, thanks!

[2017-01-30 16:53] #222 closed

[2017-02-06 18:04] amaisano opened #229 "Update Error - Read-only installation?"
Hi,

I can run ShiftIt by double-clicking from my /Applications folder, but can't run updates due to the following error:

`ShiftIt can't be updated when it's running from a read-only volume like a disk image or an optical drive. Move ShiftIt to your Applications folder, relaunch it from there, and try again.`

Also, I set the application to launch with startup in the Login Items preferences, but

[2017-02-06 21:55] amaisano commented on #229
Looks like a Sierra problem:

http://apple.stackexchange.com/questions/254684/macos-sierra-missing-app-icon-in-dock-and-check-for-updates-fails-for-certa/254689

[2017-02-06 22:46] fikovnik commented on #229
I guess the problem is that you do not have the shift it in the /Application folder and you only run it from the DMG.

[2017-02-06 22:47] amaisano commented on #229
Nope. It is in /Applications. That is not the problem.

[2017-02-06 22:49] fikovnik commented on #229
OK, I read the SE. Interesting, I'm on Sierra and I run it actually from a completely different folder and it works. I guess you have already tried to delete it from /Application and install it again?

[2017-02-08 01:25] AlBlanc commented on #177
It worked well for me. After some iterm2 settings update, it does not work anymore. i can't figure out  witch settings change this behaviour -_-

[2017-02-12 23:58] ecbrodie opened #230 "Maximize does not work when a display is in Full Screen mode"
The Maximize option fails to execute when one of my displays is in Full Screen mode.

**Steps To Reproduce**
1. Connect the Mac computer to multiple displays.
1. Have a windowed app open in one display, but a Full Screen window (i.e., a full screen Youtube video in Google Chrome) open on the other.
1. Execute the Maximize ShiftIt action on the windowed app.

**Expected Results**
The windowed app r

[2017-02-16 03:28] mikechouto commented on #230
You should try the 1.64 beta version, It solved the problem for me.

[2017-02-17 02:25] bmwillrath opened #231 "Divide Screen into Thirds"
I've just moved to a 34" Curved Display, and using my left and right keys works great but they are way to wide, Would really love to be able to divide a screen this size into 3rd's so I can snap it to 1/3 2/3 or 3/3 to keep it functional.

[2017-02-18 00:09] mnovakovic opened #232 "ShiftIt is not resizing/repositioning any apps (i.e. it's not working)"
I couldn't think of a better title - the app is active but it doesn't seem to be resizing any windows. None of the keyboard shortcuts are working and if I manually press an action in the app pop-up menu nothing happens.

I tried restarting it of course, even a few times.

This happens occasionally, sometimes the resizing works for only a few apps, but sometimes for none.

I'm on the latest version

[2017-02-24 04:03] rahimnathwani commented on #213
I'm seeing the same issue as DaveyJake on the most recent versions of OSX and ShiftIt. My setup is rMBP with two external monitors. I frequently have Chrome as full-screen on one of the 3 screens, and I can't control any other apps with Chrome.

I'm glad to have found this issue log, as it didn't occur to me that it was related to full-screening Chrome on one screen. Now I guess I can work around

[2017-02-26 06:34] fikovnik commented on #232
Have you tried the 1.6.4 beta ?

[2017-03-03 07:48] davidsandoz commented on #216
Is there any plan to release a stable 1.6.4?

[2017-03-07 18:24] VMelandri commented on #231
Same here, I have a 4k 28 inches, I would love to be able to do 3rds. I've seen commits are in master for this feature already, when are we gonna get a release for it? :)

[2017-03-08 11:04] raldred opened #233 "Shifted windows follow when switching between multiple desktops"
I'm using multiple desktops (formally spaces)
Shifted windows have started following me when I switch desktops, I'm sure this is something recent, as It used to be ok.

MBP Mid 15 using external Monitor
OSX 10.12.3
Shiftit 1.6.3

Example:
On Desktop1 I shift a window to the left half of the screen (Ctrl + Alt + CMD + Left)
Switch my screen to Desktop2 (Ctrl + Right) the window doesn't remain on De

[2017-03-15 17:55] ShaunGreiner commented on #232
Here's a link to the 1.6.4 beta if you haven't yet:
https://github.com/fikovnik/ShiftIt/releases/tag/version-1.6.4

[2017-03-16 08:48] lpotherat opened #234 "Default Localization is Ja"
I freshly downloaded this awesome app, but it launched as Japanese.

My mac is in french locale, here is os version.
![capture d ecran 2017-03-16 a 09 48 19](https://cloud.githubusercontent.com/assets/380424/23988240/ab90a5c6-0a2d-11e7-8bc1-f0939d6205c9.png)

=> I can use it, i just renamed _ja.lproj in the .app package and it fell back to english.

[2017-03-16 17:26] daxaxelrod opened #235 "Multi Monitor Support"
First let me say that ShiftIt is absolutely incredible and makes my laptop so much more productive!

That being said, It only seems to work for one monitor at a time even when I have a second plugged in. Are there any multi-monitor support talks going on?

Again thank you and have an awesome day! :)

[2017-03-20 09:01] fikovnik commented on #235
Thanks for kind words!

I use it with multiple screens, what exactly are you missing?

[2017-03-21 01:05] daxaxelrod commented on #235
When I have a second monitor linked by mini display port to hdmi to my macbook, the commands can only be used in each specific window. I cannot move an application from one screen to another without a manual drag.

Keep being awesome!

[2017-03-23 13:48] ameyec commented on #225
Working on a Ultra Wide monitor, I have a similar request, maybe 9 zones is also a possibility?

[2017-03-23 14:31] ameyec commented on #231
Seems also related to #122 not sure why any of this is not visible in the current version or settings ...

[2017-03-23 14:37] ameyec commented on #178
See #231

[2017-03-23 16:34] VMelandri commented on #235
Works fine for me.
A different but maybe related issue I'm having is that it does not work if any window is in fullscreen mode. So i never use fullscreen and I use maximize with shiftit, instead.

[2017-03-26 11:24] lamortenera opened #236 "Shortcuts for red, orange and green buttons"
Hi, thanks for implementing this wonderful tool, I love it.
This is not really an issue that I am going to raise, it's more a curiosity question.
ShiftIt offers many options, and that's great. But would it be possible to have some shortcuts that emulate EXACTLY what the red, orange and green buttons do, and nothing else? I could help out with coding, if you could give me a hint about how to do tha

[2017-03-26 17:09] fikovnik commented on #236
Hi,

I think you can "emulate" it pretty well:

[code]

[2017-03-26 18:26] lamortenera commented on #236
thanks a lot. I also discovered that many applications support the fullscreen shortcut ctrl + cmd + F. Sorry for the stupid question and thanks for the answer, feel free to close the issue.

Cheers
Alessandro

[2017-03-26 22:03] #236 closed

[2017-03-28 15:48] odlp commented on #213
The `1.6.4-beta` version fixes this for me, using fullscreen iterm2 on one monitor, and assorted windows on the other monitor.

As referenced in #230

[2017-03-29 08:35] AdamModus commented on #230
@mikechouto, that solution worked perfectly for me! Thank you!

Out of curiosity, do you know when 1.64 will be out of beta? 😄

[2017-04-06 08:38] mikechouto commented on #230
@AdamModus  I'm not sure, we might just have to wait.

[2017-04-06 09:07] fikovnik commented on #230
I will try to schedule it for the next week, sorry the inconvenience.

[2017-04-06 16:00] adrichman opened #237 "Beta v1.6.4 zip includes v1.6.3"
It seems that the zip file available here (https://github.com/fikovnik/ShiftIt/releases/tag/version-1.6.4) is v1.6.3.

[2017-04-18 09:56] thoyo opened #238 "shiftit crashes when trying to change position of Python figure"
If I open a python figure like this:

[code]

And then try to shift it to some part of my display with shiftit, it doesn't work, shiftit crashes and disappears from the menu bar. Shiftit seems to work fine for the other applications.

Shiftit version: 1.6.3
MAC OS X version: el Capitan 10.11.6

[2017-04-18 10:12] fikovnik commented on #238
I just tried that and it works fine. I use the 1.6.4 beta on OSX sierra.

[2017-04-18 10:26] thoyo commented on #238
Solved it, the problem was not shiftit, but the way I was opening the python figure. I was using

`>>> plt.pause(1)`

Instead of `show()`

[2017-04-18 10:26] #238 closed

[2017-04-20 18:31] cjcjameson commented on #225
Much like https://github.com/fikovnik/ShiftIt/commit/4eb812c6f85a76742e43a1b88ab68d5a4d1e7bfe there is probably a commit you can pull from @onsi's fork -- or maybe that commit has the effect you're looking for? I'm not reading the code too closely. See #223 for where it was merged.

[2017-04-20 18:31] cjcjameson commented on #231
#223 resolved this -- just waiting for a new release (and hopefully an update to the brew cask?) !

[2017-04-20 18:44] cjcjameson commented on #199
Reproduced https://github.com/fikovnik/ShiftIt/issues/234

[2017-04-20 18:44] cjcjameson commented on #234
Reproduction of #199 ^^

[2017-04-20 18:46] cjcjameson commented on #188
Blocking 1.6.4 stable? I don't see a re-occurence of this from the past year +

[2017-04-20 18:47] cjcjameson commented on #183
Sweet -- yes thank you! I think this issue can be closed.

[2017-04-20 18:48] cjcjameson commented on #177
Works fine for me too. No re-occurences in the past year or so, so maybe can close?

[2017-04-20 18:50] cjcjameson commented on #167
Work some accommodation for this in before 1.6.4, or is it not blocking that? Maybe just a heads up for it then, good to know that it'll be coming.

[2017-04-20 18:51] cjcjameson commented on #164
no more on this issue; can be closed, ya?

[2017-04-20 18:53] cjcjameson commented on #161
+1 this got merged, ya?

[2017-04-20 18:53] Dmole commented on #188
Oh I can reproduce it any time,
and accidentally do sometimes unintentionally.
Needs an option to skip X11 and give up gracefully.

[2017-04-20 18:55] cjcjameson commented on #155
I fear that if you had that functionality, people would want the un-minimize. Leads to statefulness concerns (as discussed when people want to un-maximize a screen). But maybe it's easy to implement?

[2017-04-20 18:56] cjcjameson commented on #154
Yep, can close

[2017-04-20 18:57] cjcjameson commented on #148
Been merged! Can close. Looking forward to a new release with this feature.

[2017-04-28 20:10] markegge commented on #232
Like @mnovakovic I'm finding that ShiftIt doesn't do anything. None of the functions seem to have any effect.

I am running macOS Sierra 10.12.4. I downloaded and compiled (without X11 support) version 1.6.4. Unfortunately, it doesn't work any better than 1.6.3.

If it helps, here's a video demonstrating the current behavior on my machine: https://www.screencast.com/t/hW03nTuToq

[2017-05-10 05:57] aetherwu opened #239 "Go back to previous position/size by hitting the same hot key."
I can toggle to Fullscreen and return to previous size by hitting the same hot key, but I also want to toggle between Max size(or other behaviors) and previous size by hitting same keys. It is called 'safe mode' as a user experience enhancement.

[2017-05-15 02:43] meichthys opened #240 "CLI support?"
Are there any plans to add cli support?

This would be incredibly useful for running workflows. I've tried to use AppleScript to 'keypress' the shortcuts in order to trigger shiftit, but it doesn't seem to be a very reliable option.

[2017-05-17 03:02] JaKXz commented on #230
I too am seeing this issue with v1.6.3. I'll try out the beta version.

[2017-05-26 20:08] Lornz- opened #241 "Reduce shorcut decreases both width and height of a window"
Hi!
I use _Reduce/Increase_ shortcuts a lot to organize windows the way I want. Lately, I experienced this with _Reduce_ https://goo.gl/j0wJUs. So instead of having the width decreasing only (like it was before), the height of the window decreases too.

Is that an issue or the proper behaviour of that functionality now?

My settings:
_• MacOS Sierra 10.12.3
• Shift it version 1.6.3_

[2017-06-10 10:41] DaveyJake opened #242 "ShiftIt Imposter App - Magnet"
As a long time user of ShiftIt (for the last 7 years) I was shocked when I found an app called Magnet that (essentially) promotes is itself as a carbon copy of ShiftIt with subtle--SUBTLE--changes to their UI.

@fikovnik Not sure if you signed off on it or were involved in its development but if you were I feel that you deserve SOME credit for it.

[Magnet Window Manager](https://itunes.apple.com/

[2017-06-10 13:43] fikovnik commented on #242
Hi,

Thanks for using ShiftIt!!! - this is the best credit ever!

I do not know if they used Shiftit in any way for building it, but anyway, people have choice to buy something or use this free software :-)

/cheers
Filip

[2017-06-10 13:43] #242 closed

[2017-06-15 03:33] jackcogdill commented on #235
I have used ShiftIt for a while and love it.

However, I now use a triple monitor setup and experience some issues. A lot of times it will stop working even after restarting the app (I suspect the issue is with multiple monitors).
Essentially all of the keyboard shortcuts stop working.

[2017-06-15 08:04] fikovnik commented on #235
Hi,

Have you tried the latest beta available from releases here on github?

/cheers
Filip

[2017-06-15 16:28] jackcogdill commented on #235
@fikovnik Hey, I tried using the newest beta release and it seems to have fixed most of the issues! Thank you
Jack

[2017-06-17 04:41] warsaw commented on #64
This would be extremely useful for terminals and editors which require a consistent width but variable heights.  Think Emacs windows of 80 characters wide, but filling the full vertical height.

[2017-06-17 07:58] fikovnik commented on #235
Glad to hear that.

[2017-06-17 07:58] #235 closed

[2017-06-23 14:19] vladimirprieto commented on #182
so what i understood of what @fikovnik said is there will be some kind of layouts schema store.  right?

i want to know cuz to avoid to creat a feature request for that.

thanks.

[2017-06-26 14:27] fikovnik commented on #182
I haven't plan to work on this anytime soon so feel free.

[2017-07-10 13:12] raldred commented on #241
I have 1.6.3 and if I anchor Left, reduce only reduces the width.
However if I anchor to a corner eg. ctrl + alt + cmd + 1, reduce will behave like your video.

[2017-07-24 18:06] jeep87c commented on #230
I'm also having this issue with v1.6.3. Still no signs of a stable v.1.6.4?

[2017-07-24 18:15] fikovnik commented on #230
I think it is pretty stable, I use it all the time. I just never push
myself to do a release which is a shame.

On Jul 24, 2017 8:06 PM, "Jean-Philippe Poulin de Courval" <
notifications@github.com> wrote:

[2017-07-26 13:36] paranthropus commented on #241
I'm having the same issue as Lornz. Reduce/Increase functionality works as shown in his video. This happens when using  ctrl + alt + cmd + ← to left anchor

MacOS Sierra 10.12.5
Shift it version 1.6.3

[2017-08-14 10:24] trivago-asalar opened #244 "Next/Previous screen - Order of screens"
what I am experiencing is that there is no way to change the order of the screens. If I have three or four screens, sometimes it doesn't make sense the order it is set.

For example: next screen could be considered the second next one instead of the one right on the right. Or the previous screen is the one that we would like to be considered as "next".

 Is there any chance to configure that? By s

[2017-08-16 15:22] SamWeiss1990 opened #245 "causing strange problems to the mission control on macos sierra after install and use shiftIt"
mission control go wrong like I chose one app but another app window occur on the top of my screen probably because  making conflict operation to system, such as too much app start at the same time.

[2017-08-22 00:41] cjcjameson opened #246 "Ship a release?"
Hi @fikovnik, I hope you're doing well! There are some commits on Master and from the 1.6.4-Beta that have been there for a while but aren't available for general usage (i.e. brew install).

Can you please consider shipping a new non-beta release? If a release ships with the content from https://github.com/fikovnik/ShiftIt/pull/223 then I'd eagerly recommend to many other people and Onsi himself t

[2017-08-23 19:10] krmnn opened #247 "Crash (sigsegv) when moving GTK Window"
ShiftIt segfaults reproducible when I try to move a GTK2 window (sylpheed in my case, but i also tested gtk-demo) via ShiftIt-Shortcut. X11 windows do work as expected.
[ShiftIt_2017-08-23-210630_gtk2.crash.txt](https://github.com/fikovnik/ShiftIt/files/1246699/ShiftIt_2017-08-23-210630_gtk2.crash.txt)

[2017-08-31 15:00] rca commented on #215
My request is similar to this issue.  I just got a _massive resolution_ monitor.  I would like the ability to shift a window to the right or left and then be able to decrease its height so i can squeeze a terminal window underneath.

In summary: i think it would be great to be able to control resizing in any direction, no matter which way you shifted the window.

[2017-09-01 15:41] rca commented on #246
Hey there, I wanted to check out the merged feature too.  I created a release on my fork if you're interested: https://github.com/rca/ShiftIt/releases/tag/rca-master

@cjcjameson

[2017-09-01 18:21] fikovnik commented on #246
There is the beta release which should me made into a final one. If you
want to make it, I'll happily add you to the repository :-)

On Sep 1, 2017 5:41 PM, "Roberto Aguilar" <notifications@github.com> wrote:

[2017-09-02 00:59] cjcjameson commented on #246
Just to clarify, @rca 's build is 7 commits beyond the 1.6.4-beta, but it's got what I'm referring to. Gotta take it for a spin this weekend or next week!

[2017-09-03 17:22] rca commented on #246
@fikovnik can you give me some more info on the make-a-final-release process?  I'd be happy to help out if I can.

[2017-09-03 21:52] fikovnik commented on #246
That would be great!

The fabric script ran with 'release' task should do the most of the things.
Additionally the 1.6.4 milestone should be closed and the Brew cask updated
to fetch three latest release from GitHub

On Sep 3, 2017 7:22 PM, "Roberto Aguilar" <notifications@github.com> wrote:

[2017-09-07 03:05] rca commented on #246
I took a bit of time to attempt a release myself.  When running `fab release` I get this error:

[code]

I'm opening up a PR with a few tweaks I made to get a build / release environment setup locally.

[2017-09-12 00:49] L33t-HAXXOR commented on #199
Hello and thank you for the amazing app!
I really appreciate the highly evident amount of work you've put into this application.
I do however have an issue.

Running macOS 10.12.6.

My computer default language is Spanish and I do not have English language settings anywhere on my computer. I do however have Japanese and other languages set up.

While I have set my Security & Privacy > Privacy > Ac

[2017-09-12 00:56] L33t-HAXXOR commented on #167
For me this issue happens whenever I quit and reopen ShiftIt.

Running:
![image](https://user-images.githubusercontent.com/31870368/30303111-5338c828-972b-11e7-9e81-b46d7c320760.png)

[2017-09-12 03:58] jinle94 opened #249 "Function failure for two monitors，one is full screen mode and the other is not full screen mode。"
Function failure for two monitors， monitor A is full screen mode and monitor B is not full screen mode；on the monitor B，shiftlt is not work。

[2017-09-12 13:49] rca commented on #246
@fikovnik any feedback on this

[2017-09-12 16:32] pramttl opened #250 "Open at Login, not working on my Mac OS X Sierra (ShiftIt v1.6.3)"
The "Open at Login" preference not working on Mac OS X Sierra. Everytime I reboot, I have to relaunch Shiftit explicitly even though I selected "Open at Login" option.

[2017-09-12 16:34] pramttl commented on #250
I just realized this could be happening because I was running "ShifitIt" from my Downloads directory and not from "Applications" directory.

[2017-09-19 21:20] gwynnebaer commented on #240
I could not get AppleScript to work at all. Did you have any success at all?

[2017-09-20 02:12] meichthys commented on #240
@gwynnebaer Yes, I was able to get it to work but not as consistently as i'd like since keystrokes can be interrupted. I'm not sure what your shortcuts are for ShiftIt, but below is a script that can be run from the terminal:

`osascript -e 'tell application "System Events" to key code 20 using {control down, option down, command down}`

You could also save your scripts in .scpt files and then jus

[2017-09-21 21:43] gwynnebaer commented on #240
This works in principle but my use case does not seem to work. And I don't mind if it's occasionally interrupted since I can always redo it.
My challenge is that I want to affect the "Preview" app (to set two PDFs next to one another on a large screen), but I cannot get the ShiftIt/osascript to affect the Preview app.
[code]

If the target app is something other than Preview (for example, iTerm2),

[2017-09-22 01:06] meichthys commented on #240
I totally agree that a cli method would be incredibly useful, but i'm not familiar enough with Objective-C  to submit a pull requestor help out too much with the project since i'm a Python guy.

I know you're on a Mac, but there's a old but good program on windows that does exactly this. Its called windowpad. The cli interface is quite interesting and i've used it to setup workflows with no issues

[2017-09-25 20:23] stomatocode opened #251 "Shiftit not resizing OSX Finder windows, applies commands to background Chrome windows instead"
Have Chrome in background, bring Finder to focus with cmd+tab, use hotkeys to resize Finder windows as I always have; instead the commands are applying to the Chrome windows in the background and ignore Finder windows.

[2017-09-28 05:51] stomatocode commented on #251
Update: this actually applies to any app that is technically in the foreground/in focus; Chrome is always the target of the keyboard shortcuts now, no matter what.

[2017-09-28 12:13] fikovnik commented on #251
Did you tried the latest beta from releases?

[2017-09-28 12:14] fikovnik commented on #249
Did you try the latest beta from releases?

[2017-09-28 12:17] fikovnik commented on #246
Sorry, I was away for past three weeks. The release script expects to to find a milestone. What should be done is to increase the version number to 1.6.4. Then the script will be able to find the milestone in https://github.com/fikovnik/ShiftIt/milestones and do the rest of its task.

[2017-10-02 09:11] zhujinghui opened #252 "Next Screen/Previous Screen does not work in Mac Sierra (version 10.12.6)"
Next Screen/Previous Screen does not work in Mac Sierra (version 10.12.6)

[2017-10-02 18:28] bastula commented on #249
I tried the latest beta and I think it's an issue specific to Mac OS 10.12.6.

[2017-10-03 08:09] fikovnik commented on #249
Interesting. I'm waiting for a new laptop so I cannot check it right now (currently on pc w/ linux).

[2017-10-04 06:43] waihon commented on #252
I have the same macOS version as @zhujinghui and I encountered the same issue of not being able to move the Next Screen and Previous using both hotkeys as well as selecting from Shiftlt menu.

[2017-10-04 08:20] fikovnik commented on #252
I currently do not have apple computer - waiting for a new laptop. Before I had 2009 macbook which did not support Sierra so I have not seen that issue.

[2017-10-06 11:40] zoryamba commented on #249
same behavior on 10.13 high sierra

[2017-10-06 12:19] isolovey-robarts commented on #251
Happens intermittently to me as well, whether I compile the latest release or the master branch.

[2017-10-06 17:34] isolovey-robarts commented on #251
This issue occurs on `version-1.6.4` as well.

[2017-10-11 06:04] afinne commented on #251
Noticed this the first time a couple of weeks ago. I haven't updated my OS or Shiftit in a long time, so I assume that a Chrome update made this happen.

[2017-10-11 06:33] afinne commented on #251
A "workaround" that works for me at least is to kill Chrome, and when starting it up again, Shiftit works as it should for a while at least.

[2017-10-11 07:13] fikovnik commented on #251
Interesting issue. I lost my apple laptop and now waiting for a new one. I will look into this as soon as it arrives.

[2017-10-13 08:32] jinle94 commented on #249
only Iterm in full screen mode，issue appear，other app will be not，such as Safari。

[2017-10-16 04:58] dawogfather commented on #45
+1

[2017-10-26 07:44] lyager opened #253 "ShiftIt not working on Sierra High"
I upgrade to Sierra High and noted that my ShiftIt installed from Brew version 1.6.3 was not working anymore. The menuicon was there, but clicking on 'left', 'right' etc didn't do anything at all. Another issue mentioned that 1.6.4 might work. I cloned, compiled, but the 1.6.4 version doesn't show up in Accessibility preferences at all, and now I'm stuck...

I think Sierra High has changed some th

[2017-10-26 08:19] fikovnik commented on #253
I heard that something has changed. I'm waiting for a new laptop - the old one does not run the latest OSX. Once I get it (though it is a university purchase so it might take a while) I will have a look into it.

[2017-10-30 14:28] NimoTh commented on #253
Hi, I just upgraded to High Sierra (10.13) and installed Shiftit for the first time on my personal Mac. Left, right, maximize with out-of-the-box configuration work just fine. (I have been using it for a while on my work Mac with Sierra (< 10.13).)

[2017-10-30 14:34] lyager commented on #253
I just tried version 1.6.3 again.. I got the pop-up requesting access through accessibility, and ShiftIt was there (which it wasn't before). After granting permissions and hitting 'Recheck' ShiftIt 1.6.3 now works. I'll see if it still works after a reboot too.

[2017-11-06 12:26] lyager commented on #253
There definitely something odd about this. Now it has stopped working again, and restarting the app doesn't help. I'm unable to find anything in the logs really. If there is some tests I can run, please let me know.

[2017-11-28 22:59] atomictangerine commented on #216
Was having issues with it too but your pre-release 1.6.4 works great. Thank you!! I love this tool btw. So helpful.

[2017-11-29 08:45] fikovnik commented on #216
Thank you. I think @rca was working on it in #248

[2017-11-29 13:15] rca commented on #216
@fikovnik I opened up that PR to shore up some of the issues I was having when attempting to release this. Some aspects don’t work for me, and I certainly don’t have the auth to push out the official release.

I’m happy to work on this, but need your help.  Are you available on irc or gitter to discuss real time one of these days?  I’m guessing resolving the issues I’m hitting won’t take more than

[2017-12-01 17:27] eMiami commented on #251
ANy update on this?  This app has become unusable, all it does is control Chrome.

[2017-12-01 17:30] isolovey-robarts commented on #251
Clone and build in Xcode. Problem disappears.

[2017-12-01 17:35] isolovey-robarts commented on #251
[code]

- `Product>Build For>Running`
- in the file browser pane (left), right-click on `Products/ShifIt.app`, `Reveal in Finder`, then copy to `/Applications`.

[2017-12-01 18:52] eMiami commented on #251
thx.  i'm sorry but i don't follow.  should i paste those 3 lines starting with git into terminal?

[2017-12-01 18:54] isolovey-robarts commented on #251
Yes. It'll clone this repo at the right commit and open Xcode. The rest is done in the Xcode IDE (GUI).

[2017-12-03 11:50] rca commented on #253
I upgraded to High Sierra and it works fine for me. Strange indeed.

[2017-12-03 11:51] rca commented on #253
Please try the new 1.6.4 release to see if the problem persists.

[2017-12-04 07:28] patrickoliveras commented on #249
Interestingly, all Shiftit commands work if the window being manipulated is the same app as the one in Full Screen mode.

Example steps to replicate:

1. Maximize a Chrome window.
2. Create a new Chrome window but in a Desktop.
3. Use Shiftit commands willi-nilly.

[2017-12-04 07:35] Loilo commented on #213
`1.6.4-beta` fixed this for me, but now that ShiftIt updated to the stable release of `1.6.4`, it's broken again. 🙁

[2017-12-04 13:20] lyager commented on #253
This seems to resolve the problem - however I have only tested it for a few minuttes. I can reopen if the problem comes back.. Thanks!

[2017-12-04 13:20] #253 closed

[2017-12-05 01:12] akume opened #254 "UP, DOWN, RIGHT, and LEFT are toggling various sizes."
If hit "Control, Option, Command, Right Arrow", the first time I press the button it occupies half the screen, the second time it occupies 1/4 of the screen and the third time it occupies 3/4 of the screen.  In the previous version it only ever shifted to one size, not toggle between 3 sizes.  How do I disable this.  I only want to adjust the size if i use "increase/decrease"
![screen shot 2017-12

[2017-12-05 02:26] mpower02 commented on #253
I'm running High Sierra and just updated to ShiftIt 1.6.4 today.  I'm having issue with the shortcut keys for repositioning windows. Ctr+Opt+Command + arrow key will reposition the window but not to the default correct size.

Before this version upgrade, I would just need to press the shortcut keys once and it will reposition half the screen (top, right, left or bottom).  Now pressing shortcut key

[2017-12-05 02:30] rca commented on #253
hi @mpower02.  I know exactly what you're talking about.  This is a new feature that was merged into master earlier this year.  Please take a look at PR #223 for details.

Essentially, if you resize in the same direction multiple times you can toggle between 1/2 2/3 and 1/3 of the screen.  It took some getting used to, and I'm not quite sure I'm in love with it myself, but I am starting to like it

[2017-12-05 06:30] frankchen07 commented on #254
I am also seeing this issue. I'm on macOSX 10.13.1 High Sierra, Shiftit version 1.6.4.

[2017-12-05 15:25] Joe-Klauza commented on #254
If this was intentional, I'd really appreciate a toggle option to disable it. Even just moving a window between the left and right sides of the display will iterate through the small/medium/large sizes, which is undesirable behavior.

macOS Sierra 10.12.6
ShiftIt 1.6.4

[2017-12-05 18:13] stellacotton commented on #254
Also on macOS Sierra 10.12.6 and ShiftIt 1.6.4 and would love an option to disable if it's a feature and not a bug. Every shift left and right takes three key presses to split my screen evenly down the middle and it's a feature that I use *constantly*.

[2017-12-05 19:10] mpower02 commented on #253
Thanks for clarifying @rca, I wish there was a setting to turn off this feature.  I've been trying to get used to this for about a day now and honestly not a big fan of it. :(  I connect my laptop to the Thunderbolt Display and prefer the old method.  What used to be a one-time shortcut key is now like fumbling around 3x to get the expected screen size.  Will need to reinstall an older version now

[2017-12-05 19:11] rca commented on #253
@mpower02 this is good feedback; do you mind opening up an issue, please.

[2017-12-06 02:05] airknits commented on #254
![](http://poster.keepcalmandposters.com/9013580.jpg)

[2017-12-06 07:57] fikovnik commented on #253
Perhaps, it would make sense if at first it does 1/2 and then 1/3 and 2/3?

[2017-12-06 12:38] rca commented on #253
Here's the part that I personally find counter-intuitive about the way it currently works:  shift a window right, to left, to right, to left, to right, etc.  i would assume consistent resizing to half the window.  Instead it alternates between 1/3, 1/2, 2/3 sizes.

I don't mind too much that hitting _the same direction_ alternates between sizes, but going from one direction to another should alway

[2017-12-06 22:16] phorust commented on #254
this blames to https://github.com/fikovnik/ShiftIt/pull/223, which implements a buggy solution to https://github.com/fikovnik/ShiftIt/issues/183, because shifting Left then shifting Right causes the window size to change, though #183 suggests that window size should only change after successive inputs of the same shortcut.

the easiest fix is to downgrade. the next easiest fix is to release a vers

[2017-12-07 01:13] humphrey commented on #254
Yep, I absolutely love the simplicity of Shiftit.  But, this change has made me from LOVING it, to being totally frustrated.  For the sake of my workmates who have to listen to my whinging -- my vote is to revert back to previous behaviour, or add it as a preference with the functionality disabled by default.

[2017-12-07 09:32] namiwang opened #255 "doesnot work if there's an fullscreen app running in another monitor"
re-pro:

1. set up two monitors
2. run some app as fullscreen (say mpv) in monitor-0
3. focus an app in monitor-1
4. shiftit doesnot work for the focused app

sys info:

latest macOS

[2017-12-07 09:34] namiwang commented on #255
dup with #249, closing, sorry

[2017-12-07 09:34] #255 closed

[2017-12-07 10:27] fikovnik commented on #254
There were some requests for the 1/3 so perhaps we can just make it a bit smarter. I guess always having at first to move to 1/2 should be reasonable?

[2017-12-07 10:44] namiwang commented on #249
confirmed on 10.13.1

[2017-12-07 14:03] Phosphor303 commented on #254
No, please don't. Accidentally hitting the key combination the second time should not do something different than hitting it the first time. It would drive me nuts when I'm in a hurry as it drives me nuts all the time now.

I strongly vote for giving 1/3 its own hotkey combination.

[2017-12-07 17:19] cjcjameson commented on #254
I'm strongly in favor of keeping the feature -- I'm a huge fan of it. If it can be a preference to toggle the behavior on/off that's fine.

[2017-12-07 17:49] ChrisCarini commented on #254
I'm strongly in favor of this becoming an option that can be set in preferences.

In the mean time, it sounds like the best I can do is just install 1.6.3 instead.

[2017-12-07 17:55] sjdemartini commented on #254
I think this improvement should be made, _and_ the cycling behavior should be a toggle-able option. Cycling can be useful to some users, and would be more useful if it always moved to 1/2 first (as you suggested). And for those who don't want cycling, having the ability to turn it off would be great.

[2017-12-07 21:31] orlando commented on #254
I tried for 2 days, then I found this issue.

Rollback to 1.6.3 and be happy

[2017-12-08 13:33] deldrid1 commented on #249
+1 - I'm having the same issue on 10.13.2 and ShiftIt 1.6.4.

I was on the 1.6.4 "beta" linked in #216 by @fikovnik  on Oct 21, 2016 and that had been working for several months.  I got pushed an update recommended by the ShiftIt app and then everything broke per this thread.

Even though I am attempting to use ShiftIt on the non-full screen windows side (Fusion is running full screen on a second

[2017-12-08 15:48] kumotaicho commented on #254
I used to love shiftit, then I took an arrow to the knee (and looked everywhere for the option to disable this new feature).

As @phorust said, window size should only change after successive inputs of the same shortcut. With a default size being configurable (50% for me) everything would be great again.

[2017-12-08 16:20] orlando commented on #254
I think that should be the default behaviour, no need to create a checkbox to disable this if it works like that

[2017-12-08 17:48] rca commented on #254
Make ShiftIt Great Again!  I'm going to run away now.  haha!

From reading the thread, suggestions have been:

- make it an option to toggle on and off
- make it a different key combination

May I suggest adding a cycle preference that defaults to `0.5` (the old, expected behavior).  This means that no matter what key combination is being used the size is going to be one half.  Additional sizes ca

[2017-12-11 20:58] jeep87c commented on #249
I'm having the same issue on 10.13.1 and ShiftIt 1.6.4.

Any update on this issue?

As for @deldrid1 it's working perfectly with the 1.6.4 beta version on an older OSX version (10.12.6).
I would have tried again the beta version but can't find it anymore...

[2017-12-12 00:45] thekashifmalik commented on #251
Just ran into this issue myself. Very anooying. Don't think I'm gonna compile it right now, maybe later.

Would be nice to have a fix in the distribution.

[2017-12-12 20:45] HiroLord commented on #254
This "feature" is so annoying I have also downgraded. Drives me bonkers to try to shift something to one half and it takes up 2/3 or whatever size.

I'm not super opposed to successive inputs causing it to resize, but if I have a window taking up the upper right quadrant and then I try to make it take up the right half, that's not what happens. This sizing is going crazy.

[2017-12-12 22:22] jhurwitz commented on #254
I think cycling (1/2, 1/3, 2/3) if you repeatedly press the *same* keyboard shortcut makes sense. However, what makes a lot less sense to me is that it cycles even if you press different keyboard shortcuts.

Eg:
* press shortcut for left, window now takes up 1/2 the screen on the left
* then press shortcut for right, window now takes up 1/3 the screen on the right

I would expect that left then ri

[2017-12-12 22:49] rca commented on #254
Yes, I also think shifting to a different location should be consistent. I made a similar comment in #253.

IMO, whether a bug or not, the experience can be better.

[2017-12-12 22:52] rca commented on #254
@waltz, would you be up for modifying the sizing behavior so it, at least, consistently sizes the window to 1/2 when switching directions.

Thanks!

[2017-12-12 22:55] ChrisCarini commented on #254
I feel fairly strongly that repeated key-press perform the same; ie <shortcut left>, <shortcut left> would remain at 1/2 screen size. From the UX perspective, shortcut behavior usually does not change (how often does hitting <cmd>+<c> alter the behavior of copying text that's selected?) with repeated key-presses.

That being said, I think it's completely acceptable to have an option one way or the

[2017-12-13 06:14] gonejack opened #256 "What's the difference between Toggle Zoom and Toggle Full Screen?"
On High Sierra, they behaving the same thing: make the window full screen.

So I would guess the Toggle Zoom has a bug, it should toggle the window maximize or back to original size as the name suggest.

[2017-12-13 09:36] MrLarssonJr commented on #254
What I found most counterintuitive is that even if the windows was not in the position the previous cycle left it, it would still cycle. This meant my application started in some random location on the screen and would get resized to an arbitrary size every time.

Not to my liking, so I also downgraded.

[2017-12-13 10:00] fikovnik commented on #254
Yeah, it was a mistake to include the PR without properly testing it. I was without apple laptop for quite some time (I had it stolen) so I did not realize it. I shall be fairly easy to change the behavior to do 1/2 and then 2/3, 1/3 (something what others wanted). Anyone wants to give it a try?

[2017-12-13 12:35] kjrokos commented on #254
@fikovnik I have a working version that I've been using for a couple days that fixes the buggy behavior (but doesn't add a toggle, or custom sizes).  Are you interested in a PR?

[2017-12-13 14:07] rca commented on #254
@kjrokos please open a PR.  I think consistently starting with 1/2 is a big step in the right direction.

[2017-12-13 15:08] kjrokos commented on #254
@rca I opened #257

[2017-12-13 16:29] rca commented on #254
Draft of fix here: https://github.com/rca/ShiftIt/releases/tag/1.6.5 with consistent sizing to 1/2 when directions change.  Thank you @kjrokos !!

[2017-12-14 04:52] rca commented on #246
1.6.4 has been released; closing.

[2017-12-14 04:52] #246 closed

[2017-12-14 04:55] rca commented on #231
This is addressed in 1.6.4; hitting the same direction multiple times cycles 1/2, 1/3, 2/3 sizes.  However, keep an eye on #254 for updates to this behavior.

[2017-12-14 04:55] #231 closed

[2017-12-14 05:01] rca commented on #178
1.6.4 suppports sizing to 1/3.

Closing.

[2017-12-14 05:01] #178 closed

[2017-12-14 05:04] #148 closed

[2017-12-14 19:38] he-sk opened #259 "Annoying new behavior to cycle through different sizes in 1.6.4"
When I press Ctrl-Alt-Cmd-Right to put a window to the right half of the screen, the window size cycles through different width. If find this behavior very irritating and have downgraded to version 1.6.3 because of this.

Is there an option to deactivate this behavior? Alternatively, a default width for the start of the cycle would be useful.

[2017-12-15 10:39] fikovnik commented on #259
There is a fix on the way https://github.com/fikovnik/ShiftIt/pull/258 sorry for the inconvenience.

[2017-12-15 12:00] fikovnik commented on #259
Duplicate of https://github.com/fikovnik/ShiftIt/issues/254

[2017-12-15 12:00] #259 closed

[2017-12-16 23:34] rca opened #260 "develop branch"
The develop branch is over a year old, and the latest and greatest is on the master branch.

Should this repo simply adopt a ["branch off master"](https://guides.github.com/introduction/flow/) development?

Otherwise, what is a good way to ensure develop is up to date?

That said, is it okay to merge master into the develop branch?

[2017-12-17 16:58] rca commented on #254
Second draft of fix.  The cycling behavior can be enabled / disabled by running `defaults` commands on the command line:

[code]

[code]

Download `ShiftIt.app.zip` here: https://github.com/rca/ShiftIt/releases/tag/1.6.5

[2017-12-18 14:13] MichaelA59 opened #261 "App windows change in size"
So I created 2 hotkeys for `left` & `right`. CMD+Shift+G or V will do the trick.

The issue is, I want it to be the full left side or full right side, but when I hit the hot key it varies between three sizes, super small, full left/right side and then like 3/4 of the page. What gives?

[2017-12-18 14:15] fikovnik commented on #261
Please have a look at https://github.com/fikovnik/ShiftIt/issues/254.

[2017-12-18 14:15] fikovnik commented on #261
Duplicate if https://github.com/fikovnik/ShiftIt/issues/254

[2017-12-18 14:15] #261 closed

[2017-12-18 14:27] MichaelA59 commented on #261
Thanks guys!

[2017-12-28 00:45] corytheboyd commented on #254
This complete killed my workflow. At least make it start at half-screen.

[2017-12-28 22:57] rca commented on #254
kjrokos did the hard work. I merely compiled it.

Just waiting for some feedback before rolling an official release.

[2018-01-02 14:20] Ken-B commented on #252
Same on MBP 2015 running osx 10.13.2 (High Sierra). If I enable debugging nothing gets written (I'm probably not doing it right). To be honest, I've just found out about the possibility for next/previous screen and I have not gotten it to work, so I can't say if it's a regression.
Let me know what I can do to help.

Also, I've added a $10 [bountysource](https://www.bountysource.com/issues/49955456

[2018-01-23 13:52] zppratt opened #262 "ShiftIt moves the same, non-active window after selecting another window."
ShiftIt moves the same, non-active window after selecting another window.

macOS 10.12.6 (16G1036)
ShiftIt 1.6.4

https://imgur.com/a/nR1zM

[2018-01-23 14:53] zppratt commented on #262
After restarting, I didn't witness this behavior. Not sure how to reproduce.

[2018-01-23 14:53] #262 closed

[2018-01-31 15:58] jeanrajotte opened #263 "after macOS upgrade to 10.13.3, taskbar not taken into account"
The shifted windows end up behind the taskbar now, after upgrading the OS.
![screen shot 2018-01-31 at 10 54 43](https://user-images.githubusercontent.com/312996/35632823-b6e5bdb8-0675-11e8-8159-5f9d396b7463.jpg)

[2018-02-02 22:11] tekemperor commented on #254
@rca I install with "brew cask install shiftit", apparently I do not have an option for specific versions due to a limitation in the cask system. I cannot use a previous version easily. The current one is not defaulting to 1.6.5 with this command, it is using 1.6.4 instead. Is there any way we can get 1.6.5 to be the default release or does it require additional testing? This issue is annoying to

[2018-02-02 22:32] orlando commented on #254
@tekemperor you can downgrade to 1.6.3 while we wait for the official 1.6.5 release.

[2018-02-03 01:00] jeanrajotte commented on #263
This actually only happened upon restarting after the latest upgrade, and only for Terminal windows.  And it's not happening anymore. And I have 2 monitors, in case that makes a diff...

So, closing this.

[2018-02-03 01:00] #263 closed

[2018-02-03 09:41] kenchan0130 opened #264 "Sign released binary"
Please kindly sign released binary.

It seems that ShiftIt app has no missing sign (I used https://github.com/fikovnik/ShiftIt/releases/download/version-1.6.4/ShiftIt-1.6.4.zip).
Because of this, I cannot install it  by Gatekeeper to my machine due to the firm's security policy.

[2018-02-05 19:20] jmm commented on #254
@fikovnik Sorry to hear about your computer being stolen :( Thank you for the work on this.

For the record, I agree that there should be a toggle in the preferences GUI for always 1/2 vs steps of 1/2, 1/3, 2/3.

[2018-02-07 13:55] rca commented on #254
Good news, everyone, I've released 1.6.5: https://github.com/fikovnik/ShiftIt/releases/tag/1.6.5

@tekemperor I'm new to the release workflow; please let me know if `brew` finds this new release.

Thank you, and closing.

[2018-02-07 13:55] #254 closed

[2018-02-07 13:57] rca commented on #264
Is 1.6.3's signature recognized?  Can you try 1.6.5 that I just released and see if that works.

@fikovnik perhaps this has something to do with my release environment?

[2018-02-07 16:20] fikovnik commented on #264
@kenchan0130 - were you able to use the previous versions of genthat?

[2018-02-07 17:09] elcolie opened #265 "Release note keep spinning never ending"
![image](https://user-images.githubusercontent.com/18206728/35930273-11bb5db2-0c64-11e8-8685-b465f41cc51c.png)

![image](https://user-images.githubusercontent.com/18206728/35930374-4f00a48e-0c64-11e8-958c-3ffc457081c5.png)

Do you intended to keep it spinning?
Also I can not install the update

OSX: `10.13.3`

[2018-02-07 17:12] fikovnik commented on #260
The idea was to use gitflow model - master is stable - develop is where development happens. It should be merged.

[2018-02-07 18:38] sjdemartini commented on #254
The release doesn't seem to have worked properly. The "new version" update window shows, but spins indefinitely:
![image](https://user-images.githubusercontent.com/1647130/35934545-c12533ee-0bf2-11e8-8477-9d57baab5ecc.png)

And when clicking "Install Update", I get:
![image](https://user-images.githubusercontent.com/1647130/35934562-c8d6abd6-0bf2-11e8-86ed-067ce307ac3b.png)

Perhaps this has to do

[2018-02-08 03:51] kenchan0130 commented on #264
@fikovnik

I have tried again with 1.6.3, 1.6.4 and 1.6.5 of shitit app.
In all of these versions, the popup has appeared.

![popup_1 6 5](https://user-images.githubusercontent.com/1155067/35954731-b788843a-0cce-11e8-8507-28e45c0c9bca.png)

[2018-02-08 09:30] fikovnik commented on #264
I'm sorry to disappoint you, but AFAIK to have the app signed we would need to become part of Apple's Developer Program for $99 per year. I don't have $99 to spare on that and honestly even if I had I would prefer to donate it to a charity instead.
Can you install things using [homebrew cask](https://caskroom.github.io/)?

btw: this is just my personal view of this affair - others might disagree.

[2018-02-08 13:38] rca commented on #264
@kenchan0130 there is a trick to this.  If you `ctrl+click` / "two-finger click" / "right click" on a package and then click Open; you'll be given an option to install anyway.

![image](https://user-images.githubusercontent.com/53537/35975594-40b21d3a-0cab-11e8-92c2-904362866a2f.png)

Unless we find someone to sponsor the Developer Program for ShiftIt; this issue is done.

Closing, and please re-o

[2018-02-08 13:38] #264 closed

[2018-02-08 15:22] rca commented on #254
If the commit has to be on master then, yes, I blew it. :/

Can I get a confirmation that the update is failing for someone else?  Or conversely that it does work for someone else.

I can make a .6 release tagging directly to master.

[2018-02-08 15:25] Phosphor303 commented on #254
@rca It does not work for me either. Same problems as @sjdemartini.

[2018-02-09 03:51] mlo1088 commented on #265
I tried to install the 1.6.5 release but when I try to unzip, it says the file is corrupt. Is this related?

https://github.com/fikovnik/ShiftIt/releases/download/1.6.5/ShiftIt-1.6.5.zip

[2018-02-09 06:04] kenchan0130 commented on #264
@fikovnik

I understood the situation you are in.

@rca

Thank you for your response.

I cannot use these methods because the profile has been applied to my laptop such as:

![mac_profile_policy](https://user-images.githubusercontent.com/1155067/36013847-ebe5cca2-0da9-11e8-9e8e-81d6478d986d.png)

[2018-02-09 12:39] rca commented on #264
This is a bummer.  I'm going to do some research and see if there's a way to get this thing signed.

[2018-02-09 19:56] brianmorton opened #268 "1.6.5 showing as 1.6.4"
just downloaded the release from the releases page:

![image](https://user-images.githubusercontent.com/1434096/36047242-50f1163e-0d90-11e8-88bd-d8e68c9460bd.png)

Edit: not sure if this means the 1.6.5 release is actually 1.6.4 and the wrong app was packaged, or if the version number just wasn't bumped

[2018-02-09 19:59] brianmorton commented on #268
Update, within the app it is showing up as 1.6.5:

![image](https://user-images.githubusercontent.com/1434096/36047335-a62973f8-0d90-11e8-9c10-0fefe126a5cf.png)

[2018-02-11 21:26] RogerMcCarty commented on #268
Check for updates looks a bit odd as a result ...

<img width="490" alt="screen shot 2018-02-11 at 1 24 28 pm" src="https://user-images.githubusercontent.com/7970363/36078711-1b684c58-0f2f-11e8-9a52-bd772230de1e.png">

[2018-02-12 16:35] behnam opened #269 "Empty Release Notes and Update Error!"
Version: 1.6.4

It's been a few days that I get the update notification, but the Release Notes don't load.
<img width="698" alt="screen shot 2018-02-12 at 8 31 26 am" src="https://user-images.githubusercontent.com/37169/36107533-4000c388-0fcf-11e8-8464-9ddc7616da7e.png">

And then when pressing Install Update button, get an Update Error message.
<img width="532" alt="screen shot 2018-02-12 at 8 31

[2018-02-12 16:40] behnam opened #270 "Wrong version number in You're up to date!"
I just installed 1.6.5.

<img width="520" alt="screen shot 2018-02-12 at 8 39 05 am" src="https://user-images.githubusercontent.com/37169/36107901-50bd5550-0fd0-11e8-89f1-f9cee6c79031.png">

But when clicking on Check For Updates Now, it says 1.6.4 is latest version.

<img width="532" alt="screen shot 2018-02-12 at 8 38 49 am" src="https://user-images.githubusercontent.com/37169/36107946-67e78d86-

[2018-02-12 22:33] cccCody commented on #254
It was failing for me too. I reinstalled from releases.

[2018-02-13 07:31] Neejoh commented on #269
Same here. Checked the system log and apparently the URL isn't correct;

    Feb 12 08:27:03 imac-rtv ShiftIt[565]: Sparkle Error: An error occurred while downloading the update. Please try again later.
    Feb 12 08:27:03 imac-rtv ShiftIt[565]: Sparkle Error (continued): The requested URL was not found on this server.

[2018-02-13 08:11] dulgan commented on #268
I think the 1.6.4 binary is in the zip, because the 1.6.5 fix on 1/3 - 2/3 - 1/2 cycle is not included...

[2018-02-13 08:48] saiqulhaq commented on #269
+1

[2018-02-13 19:46] robungar commented on #269
Same issue

[2018-02-14 15:37] thedashboardofmycar commented on #269
Same here

[2018-02-15 16:05] eddified commented on #269
I experienced this issue as well.

[2018-02-15 20:18] behnam commented on #269
Just a reminder for everyone here: you can set a 👍 on the original report to show that you're experience the problem, too. And click on Subscribe on the sidebar, if you like. This would keep the noise down for developers and others subscribed to the issue, while providing the information needed to the developers.

[2018-02-16 13:58] davidsanders commented on #270
Kept trying to update while I was on 1.6.4 trying to upgrade to 1.6.5 causes a beachball and it just hangs.

[2018-02-16 14:01] davidsanders opened #271 "HazeOver incompatibility"
I recently discovered HazeOver as a productivity booster, it dims non-active applications to enhance focus on your current application. This is great for me, however, Shiftit fails to work with HazeOver. I've had to switch to a different tool that works with HazeOver.

Both Switchit and HazeOver have accessibility options turned on. Would love to switch back to ShiftIt when this has been corrected

[2018-02-16 16:07] behnam commented on #270
@davidsanders, see https://github.com/fikovnik/ShiftIt/issues/269 for that issue. This is a totally different matter with 1.6.5.

[2018-02-16 19:27] mariusbutuc commented on #254
Using homebrew works fine:
[code]

[2018-02-26 14:51] jmontana opened #272 "Can Maximize be aware of notification center?"
I would love to be able to maximize the window with a hot key, but have it leave room on the left for the notifications. Sometimes I have alerts that need to remain on screen (meeting in 10 minutes, a hot Reminder, etc.) but I need to be able to see beneath them for the current window. Right now, I do a Cmd-Ctrl-Opt-Left arrow, followed by a few Cmd-Ctrl-Opt-+ until the window is as close to the l

[2018-02-26 15:48] fikovnik commented on #272
I always though that the notification are sticky and top front - that is they stay up. I remember the calendar items poping up - meetings in 5 minutes .... - and staying there unless I clicked on them.

[2018-02-26 16:01] jonathankatzman opened #273 "Latest release won't download"
1.6.5 keeps erroring

[2018-02-26 16:34] jmontana commented on #272
You're right, they do. The problem is sometimes I need to interact with a window that's beneath the notification. Rather than moving the window, interacting, and moving the window back, I'd like a hot key that would automatically resize the window to account for the notifications.

[2018-02-26 17:34] fikovnik commented on #272
I see. It would be great to have a support for custom actions, but they are not there yet. Do you want to give it a try?

[2018-02-26 17:35] fikovnik commented on #273
@rca - do you plan to look into the issues with the latest release?

[2018-02-26 19:09] jmontana commented on #272
I'd love to, but don't know that I have the time. Maybe I'll pull the code and play around with it and see what I can come up with.

[2018-02-26 21:33] dylnclrk opened #274 "Shiftit doesn't work with two monitors if one is in Fullscreen mode"
Problem:
=======
I can't use Shiftit when one of my monitors is in full-screen mode.

More detail:
=========

I have two monitors set up today. In one monitor I have Terminal.app running in full-screen mode, in the other I have several applications (including Chrome) running in regular, windowed mode.

When trying to resize the focused Chrome window, nothing happens, and I see,

[code]

in the deb

[2018-02-26 22:53] fikovnik commented on #274
Which version do you use - try the latest from homebrew - should work.

[2018-02-26 23:33] dylnclrk opened #275 "Clicking "Check for Updates Now" shows wrong version number"
# Problem

It appears that Shiftit 1.6.5's "You're up to date!" modal shows the wrong version number.

# Reproduction Steps

1. Install Shiftit 1.6.5 from homebrew
2. Open preferences. See "ShiftIt App 1.6.5" in "General" pane.
![screen shot 2018-02-26 at 3 30 04 pm](https://user-images.githubusercontent.com/896684/36701951-07219510-1b0a-11e8-8902-a94f2c47ec7c.png)
3. Click on "Check for Updates N

[2018-02-26 23:35] dylnclrk commented on #274
@fikovnik I tried updating (via homebrew cask) before posting this bug report. Unfortunately I'm still seeing the issue on 1.6.5 (and Mac OS 10.13.3).

Oddly enough, I also noticed an inconsistency in the reported version number… see #275 when I clicked "Check for updates". So maybe I'm messing something up with the update?

I wish I were more handy with OS X so I could do a better job helping wit

[2018-02-27 01:44] rca commented on #273
Would you be able to take a look at what I may have done wrong. In the other issue someone had mebtioned the problem beimg that i created a branch for the release files vs placing them directly on the master branch. Does that sound right?  Other than that I followed the steps in the readme

[2018-02-28 17:36] mat128 commented on #273
Getting the same on 2 different MacBooks, one running 10.13 and the other running 10.12.

Both upgrading from 1.6.4.

[2018-02-28 21:54] xiongchiamiov commented on #269
Fyi this is a dupe of #265, although I think this one got more attention.

#267 is a pull to fix it, but it appears to be stuck in a "well, how do we test this?" spot.

[2018-03-01 01:16] octodriver commented on #273
Getting the same trying to go from 1.6.3 -> 1.6.5
Update errors out during download.

[2018-03-01 01:55] dylnclrk commented on #275
This is almost an exact copy of #270. I'm closing this one out. Sorry about the spam! 😢

I'm not sure how I didn't see #270 when I was writing this.

[2018-03-01 01:55] #275 closed

[2018-03-01 13:56] rca commented on #268
This should be fixed already; I'm currently working on a 1.6.6 release which should definitely fix this.

[2018-03-01 13:56] #268 closed

[2018-03-01 13:58] #216 closed

[2018-03-01 14:12] rca commented on #273
Hi everyone,

Please see if installing 1.6.6 works for you.  I realized a few inconsistencies last time I released:

- the version number is listed in two places in the `ShiftIt-Info.plist`; i only updated one last time. (README.md) has been updated.
- I accidentally omitted the `version-` prefix in the tag name

The reasons above make a lot more sense to me than having to commit directly to `mast

[2018-03-01 18:03] xiongchiamiov commented on #265
I don't see any mention of changes here in these issues, but this morning I got a prompt to update to 1.6.6, and it worked. 😄 So I think this is fixed.

[2018-03-01 18:18] behnam commented on #273
Cool! Thanks! Still didn't get the Release Notes, but downloading and installing the new version worked fine.

[2018-03-01 18:19] behnam commented on #269
Looks like it's fixed in #273. Version 1.6.5 can download and install the new version, 1.6.6, automatically.

Closing as a duplicate.

[2018-03-01 18:19] #269 closed

[2018-03-01 18:19] behnam commented on #265
Looks like it's fixed in #273. Version 1.6.5 can download and install the new version, 1.6.6, automatically.

[2018-03-02 05:41] elcolie commented on #265
Seems like `1.6.4` need to be uninstalled
<img width="591" alt="image" src="https://user-images.githubusercontent.com/18206728/36884985-c3dc574e-1e16-11e8-86ad-cbba7fe3f228.png">

[2018-03-02 05:41] #265 closed

[2018-03-02 09:07] lpotherat commented on #199
Can shift-it include english localization by default instead of ja only ? I think it would solve this issue definitively.

[2018-03-02 10:43] nikcorg commented on #274
Ditto for this issue on OS X 10.12.6 and ShiftIt 1.6.6.

[2018-03-02 13:27] emptylambda commented on #274
Same issue with OSX 10.13 and ShiftIt 1.6.3

[2018-03-02 18:38] dylnclrk commented on #274
I updated to Shiftit 1.6.6, and I'm still seeing this issue. As @emptylambda says it seems to be somewhat inconsistent and depend on the application that's full-screened.

### Some scenarios

**Fullscreened application**: Safari
**Windowed application on other screen**: Chrome/Terminal.app/Spotify/Safari
**Behavior**: Works as normal

**Fullscreen**: Terminal.app
**Windowed**: Chrome/Spotify/Safar

[2018-03-04 19:33] egold commented on #253
I've been using ShiftIt for about 4 years, and also am lately having issues. If anyone is looking for an alternative, Spectacle does what ShiftIt did for me for years, but seems to have fewer issues on later versions of macOS -- https://www.spectacleapp.com/

[2018-03-05 07:50] christiaanwesterbeek commented on #273
Maybe updating from 1.6.3 -> 1.6.5 was a problem only if you manually downgraded from 1.6.4 to 1.6.3 (with the somewhat annoying resize feature) before. I remember updating to 1.6.5 didn't go automatically for me either. Then I realized my own action (the downgrade). What helped me is uninstall shiftit and install 1.6.5 fresh again. Updating from 1.6.5 to 1.6..6 automatically was no problem. No re

[2018-03-05 08:43] fosron commented on #274
Getting this with 3 monitors (1 - Slack in fullscreen, 2 - App i want to maximize with ShiftIt, 3 - PHPStorm);

macOS 10.13.2 + ShiftIt 1.6.6

[code]

[2018-03-05 14:39] rca commented on #273
@fikovnik where do the release notes come from?  i've been following the notes in the README with the additional manual steps after running `fab release`; maybe I'm running the manual steps incorrectly or inadvertently skipping a step.

[2018-03-05 16:16] fikovnik commented on #273
@rca - first of all thanks a lot for putting the realeases together!

The release notes comes from the closed tickets that are part of a milestone.
The python script gets the current mileston (e.g. 1.6.6) and then tries to find it on github. It takes all the closed issues and creates a sample HTML. I guess it might be a bit too overengineering so feel free to drop this.

Here is the HTML template:

[2018-03-05 16:22] rca commented on #273
More specifically, what is causing the spinner on the release notes dialog to go indefinitely?  I suppose I'm missing a step that takes the release notes and places them somewhere; I think I've followed the manual instructions correctly, but I'm missing something.

[2018-03-05 17:13] fikovnik commented on #273
That I don't know. In the appcast you should see the location of the release notes. Perhaps the problem is that it somehow cannot fetch it / render it. Can it be feteched using curl?

[2018-03-05 19:47] rca commented on #273
What would the URL to used with curl be?  I don't know anything about appcast.

-Roberto.

[2018-03-05 21:50] fikovnik commented on #273
I think the URL is wrong.

In `appcast.xml` there is:

[code]

If I try it:

[code]

It seems that the URL serving raw content from github has changed. Sorry for not spotting it before.

[2018-03-07 11:29] emptylambda commented on #274
Im looking into the codebase for this, it seems like Terminal-like app automagically obtains the highest priority for CFWindows list and will always get chosen as if it is "focused" windows.
This is located in `SIWindowManager.m` the function `getFocusedWindow` (around line 144)
Since Im not familiar with Core, my fix may take a bit longer but Im trying to mend this :)

[2018-03-07 12:20] nikcorg commented on #274
I can repeat the behaviour with any full screen app, not just terminal (iTerm2).

I switched to Spectacle.app which doesn't have this problem.

[2018-03-13 17:50] midorineko opened #277 "Portrait monitor Shiftit UX is even worse"
Portrait Shiftit used to allow you to hit down or up 2 times, which would snap the window => shrink the window a third. Then you could hit C which would center the window. Allowing a user to easily set up 3 stacked windows.

Since the last update I can't even figure out how to snap 3 windows stacked without using my mouse. The shrinking and inability to do 1/3 of bottom screen. I don't mind having

[2018-03-16 09:53] kimonoki commented on #250
I have this problem too. And it is installed at /Applications

[2018-03-26 19:49] odonckers commented on #250
I'm guessing that your settings page looks like this:
<img width="520" alt="screen shot 2018-03-26 at 2 42 21 pm" src="https://user-images.githubusercontent.com/11579289/37928920-12298afc-3104-11e8-9bb4-2ef95d500ab1.png">
If selecting and reselecting the "Open at Login" toggle doesn't work, then you need to manually add it to your opening applications. To do this, go to the MacOS Settings, then "U

[2018-04-04 21:10] matt812 opened #278 "Feature Request: gaps"
SizeUp (http://www.irradiatedsoftware.com/sizeup/) is basically a clone of ShiftIt (but I prefer ShiftIt).

However, SizeUp includes gaps functionality.

Would love to see that in ShiftIt!

Thanks!

![image](https://user-images.githubusercontent.com/37491881/38335036-ed207904-3811-11e8-8bab-50582f7b5225.png)

[2018-04-05 04:23] vtherli opened #279 "In the latest MacOs Version ShiftIt doesn't work"

[2018-04-05 13:16] Dmole commented on #273
Upgrade worked for me. from 1.6.2 to 1.6.6

[2018-04-06 14:10] Dmole commented on #188
Still an issue in 1.6.6

[2018-04-06 17:27] aguynamedben commented on #274
This is happening to me too. MacOS 10.13.3, ShiftIt 1.6.6. MacBook Pro with 4k Dell monitor hooked up. Trying to work on the 4k monitor and watch The Masters on the MacBook Pro display. 🖥⛳️

Thanks to the ShiftIt team for the hard work developing this free app. 👏

[2018-04-09 13:14] nikcorg commented on #274
Seconded. I failed to mention in my previous comment that my switch was reluctant. Apart from being a great app otherwise, ShiftIt has a universal shortcut to fullscreen an app on OSX, which for some strange reason doesn't have a standard OS level shortcut.

[2018-04-12 09:41] skitada commented on #279
I had the same problem, but now it works
after I have reconfigured the short cuts.

I'm not sure this is what would fix the problem.

[2018-04-13 02:17] UrGuardian4ngel commented on #274
@nikcorg Doesn't it? Well, maybe not a _standard_ one.
But, nothing's stopping you from customizing your system, and creating one yourself?

Seems like you can simply create your own custom shortcut for that. As a matter of fact, you can create your own shortcuts for **any** macOS app (separately), just by adding a _menu item_'s title, and hitting a shortcut?

System Preferences > Keyboard > Short

[2018-04-17 11:02] nikcorg commented on #274
@UrGuardian4ngel yes, I've set that keyboard shortcut, but despite that all apps don't adhere to it. E.g. iTerm listens to option-enter, VS Code listens to ctrl-option-f.

[2018-04-18 17:16] davidsielert commented on #249
Yeah I seem to have this issue whenever I have ANY app in full screen mode shiftit will not work at all. like to for instance keep a database window open in full screen in a space on a 3rrd monitor and when I do so it disables me from using shiftit in any other windows (chrome in my case)

[2018-04-18 17:30] UrGuardian4ngel commented on #274
Hmm... For me, both seem to work?
- my "custom" `cmd + ctrl + alt + F` keybinding
- _and_ the "application default", like `cmd + enter` for e.g. iTerm

I'm on macOS 10.13.3.

[2018-04-20 13:09] hadidotj commented on #274
FYI, it appears PR #276 fixes this issue, for those who wish to build locally.

[2018-04-26 13:24] imanhodjaev commented on #279
Same here, shortcuts and even manual attempts don't work.

[2018-05-04 08:48] lukebrowell commented on #254
Where have my thirds gone?
I just got used to them and found them useful.

[2018-05-10 17:25] gwynnebaer commented on #249
@davidsielert - I can also confirm this:
Multiple monitors with one app full-screened - ShiftIt does not work at all.
Multiple monitors with no apps full-screened - ShiftIt works as designed.

This was new to me as I had not been using multiple monitors until recently.

[2018-05-24 04:32] elcolie commented on #279
10.13.4 totally broken

[2018-05-24 04:35] elcolie commented on #279
I couldn't be able to reconfigure my shortcut again. For example
Ctrl + Optiopn + <-
Ctrl + Option + Cmd + M

[2018-05-27 16:07] timvink opened #280 "Feature request: focus follows mouse"
Recently looking into alternative macOS window managers, I looking into KWM and Amethyst.
"Focus follows mouse" could be a cool feature for ShiftIt:

(https://medium.com/@geekuillaume/a-tweaker-guide-to-osx-personalization-e3f2eef0eebc)

Perhaps consider the feature for a next release?

[2018-05-27 18:09] timvink opened #281 "Feature request: .shiftit dotfile for config"
It would be really usefull if you could store your shift config in a dotfile (`~/.shiftit`). That would help with making your settings portable.

As an example, here is a dotfile from amethyst:
https://github.com/jez/dotfiles/blob/master/amethyst

[2018-06-14 18:02] sudoer commented on #229
I found that my installation had an extended attribute called "com.apple.quarantine" set.  This is the one that usually pops up a warning asking if you really want to open the app you just downloaded.  But in ShiftIt's case, it said it was a read-only volume.

To check if this is what's causing your problem, do `ls -l@` in the /Applications directory and see if that extended attribute is set.  Or

[2018-06-14 18:05] sudoer opened #282 "new hot-key : move all windows to screen X"
I typically use one monitor to concentrate on something and the other monitor for "everything else".

I'd really like to be able to Ctrl-Option-Command-1 to move all windows to monitor #1 (the Macbook screen) or Ctrl-Option-Command-2 to move them all to my external monitor.

Thanks for awesome layout manager tool!

[2018-06-15 15:01] mohamedalsherif commented on #279
I have it sometimes working , sometimes not working as well. I have two screens. What I noticed is when i have a full screen mode on one screen, Shiftit does not work on the other screen

[2018-06-21 14:53] DanielvanderPloeg commented on #279
Same problem here. Running OSx High Sierra 10.13.5 (17F77) and ShiftIT 1.6.6
Shortcuts nor manual menu choices work anymore.

[2018-06-21 21:38] RayBB commented on #279
I've been using this app for a while on the latest upgrade and constantly having problems. I finally gave in and spent $1 for [Magnet](https://itunes.apple.com/us/app/magnet/id441258766?mt=12). It is working flawlessly so may be worth a look if you need this tool.

[2018-07-09 07:31] daniegus commented on #11
Hi!

I really would appreciate the center and resize feature as proposed by rexx. I use it every day with SizeUp, but would really like it with your app instead! At least a resize to a certain percentage or pixels from the edges, or size, would be really nifty!

[2018-07-24 19:38] jlvivero commented on #252
Is there anything that can be done to have the feature to switch an app to a different workspace?

It's a feature that anyone that comes from Linux would probably want, and some paid applications have it (so it should be possible). Is this something in the works?

[2018-07-25 08:58] fikovnik commented on #252
@jlvivero - yes, it can be implemented - would you be willing to give it a try - I can provide some pointers.

[2018-07-25 12:30] jlvivero commented on #252
yeah I'd be interested, It might take a while since I don't know a lot of objective-C but it's worth a shot!

[2018-08-09 23:18] elijahcarrel commented on #274
Note that for those of you who are not mac or iOS developers but are trying to apply the patch, the Xcode tools need to be installed _and Xcode needs to have been opened at least once_ in order for the `xcodebuild` statement that @hadidotj mentioned above to work. If you (like me) downloaded Xcode to run that statement but did not open it, you get the unhelpful error message "Command /Applications

[2018-08-10 09:09] DannyDannyDanny commented on #274
### Solution for `tool 'xcodebuild' requires Xcode`
When running `xcodebuild -target "ShiftIt NoX11" -configuration Release
` you may get the error:
[code]
To get around this:
1. Install **Xcode from App Store**
2. Open Xcode, finish install, **accept license**
3. Point Xcode-select to the right directory `sudo xcode-select -s /Applications/Xcode.app/Contents/Developer`
4. Go back to following ins

[2018-08-16 13:59] holmesmi commented on #216
I'm on 1.6.6, and I'm still seeing this issue. Is it just me? Should I open a new issue, or reopen this one?

[2018-08-22 12:10] holmesmi commented on #274
Question: if I have multiple monitors, and some windows in full-screen mode, should I be able to use the "Next" and "Previous" shortcuts, or are they intended to only work on windowed apps? I don't know if I should file a feature request or a bug report....

[2018-08-24 10:27] osis commented on #279
Sorry, my issue was actually this https://github.com/fikovnik/ShiftIt/issues/274

[2018-08-29 20:14] d1820 opened #284 "Shift wont maximize chrome window that has focus"
Seems like if have multiple instances of chrome browsers but only 1 has focus, maximize  doesnt work, and instead finds the next application open and maximizes that instead. if no other apps running it does not do anything

[2018-09-04 02:28] jaggerwang commented on #274
Came into the same problem when open a fullscreen Chrome window on my second monitor, it became ok when exit fullscreen mode. And it is also ok to open a fullscreen Chrome window on my first monitor.

[code]

[2018-09-06 18:25] kcormier opened #285 "multipleActionsCycleWindowSizes oddities"
I'm a huge fan of the functionality added by multipleActionsCycleWindowSizes in #258 but found a weird edge case.

If the window being dropped to 1/3 size has a min width or heigh that is greater than 1/3 the screen, you can never resize the window to 2/3.

When you get to 1/3, the window automatically resizes itself to the minimum.  As a result, ShiftIt starts the cycle over again at 1/2.

If you

[2018-09-22 06:29] NickyMateev opened #286 "Can't bind ESC key as hotkey in Preferences screen"
I would like to use ESC as my hotkey instead of the default Control+Option+Cmd combination.

I've swapped my Caps Lock key with ESC so essentially I'll be pressing Caps Lock + *some key*, which at least for me would be far more comfortable and faster, because I'll be staying on the home row instead of my left hand hovering down to the default three key combination.

Having said all of that, when I

[2018-09-25 21:14] vignesh380 opened #287 "Choice of license -- GNU ?"
Is there a reason of why the license to this product is GNU instead of MIT or Apache ?

[2018-09-26 07:53] fikovnik commented on #287
ShiftIt originated from a GPL licensed project of the same name. Today, there is nothing from the original code left so I guess the license could be changed. Any particular reason why you would like it to be MIT or Apache?

[2018-09-27 05:17] vignesh380 commented on #287
A lot of companies may be against employees using software with GNU License as the license forces the users to open source their code. MIT or Apache gives us this flexibility to use ShiftIt without companies preventing us.

[2018-10-11 14:10] marcosanfilippo opened #288 "App does not work when main monitor is full screen."
When main monitor is full screen, hot keys are not picked up.

Let's imagine a laptop with 1 external monitor. When in the laptop monitor there is an app full screen, I'm not able to use shiftit in the other monitor.

`Version: macOS 10.13.6`

[2018-10-17 13:23] adamalton opened #289 "Can't customise keyboard shortcuts"
I've just installed `ShiftIt_10_6_v1_2` on macOS 10.13.6, and there doesn't seem to be any way to customise the keyboard shortcuts/hotkeys.  From having used Shiftlt before, and from looking at discussions in the others issues, my understanding is that it should be possible to customise them, but there's no option to do this.

Here's what the menu from the menu bar looks like:

<img width="197" al

[2018-10-17 13:34] adamalton commented on #289
Ah, it seems that maybe I'd just downloaded a very old version.

[2018-10-17 13:34] #289 closed

[2018-10-19 16:28] klamike opened #290 "Maximize doesn't account for dock in Mojave"
<img width="1440" alt="screen shot 2018-10-19 at 12 28 18 pm" src="https://user-images.githubusercontent.com/17013474/47231308-8aafc700-d39a-11e8-8998-ad159301d489.png">

[2018-10-19 17:32] pointum commented on #271
HazeOver author here. I had another report about this. Should be fixed in HazeOver 1.8.

Under some circumstances a hidden HazeOver window showed up first in the window list. This confused ShiftIt. It thought that HazeOver window should be controlled instead of a window that a user is actually interacting with.

[2018-10-23 12:12] ggrrll opened #292 "feature request: moving across workspaces"
Hi,

thanks for the nice app., however it seems to miss an important feature (for instance, w.r.t. [sizeup](http://www.irradiatedsoftware.com/sizeup/))

I was wondering if you planned already to include that feature in the next release.

Thanks

[2018-10-23 22:59] mcandre opened #293 "Hotkey recording is faulty"
Sometimes the ShiftIt hotkey recorder gets confused, and won't let me assign a new hotkey combination unless I clear out all the olds ones and relaunch the app.

[2018-10-27 02:22] sodacrackers opened #294 "Feature Request: Set width hotkey"
On a laptop, parking applications often leaves them too small.  I'd like an option to park left or right, but at 66% of my screen width.

Could you create an option to park applications with custom dimensions, i.e.: left: 0, top: 0, right: 20%, bottom: 0.

Fantastic app!!

[2018-10-30 12:08] MladenJanjetovic commented on #274
Same here, I had this issue but didn't realize that it has something to do with Full screen mode on one of the screens. Thanks

[2018-11-12 18:18] ryanpcmcquen opened #295 "Add ability to make app 'almost' fullscreen."
ShiftIt solves 99% of my windowing needs, but I still keep Moom around for one thing, making an app 'almost' fullscreen, meaning it takes up 90% of the screen with padding on each side. I like to do this with some apps because then I can easily click over to the apps behind it. I'm not sure what you would call this, but if there was an option for this it would make ShiftIt _perfect_ to me.

Here's

[2018-11-12 18:19] ryanpcmcquen commented on #295
Better Window Manager also has something similar called _Centered Large_:
![screen2](https://user-images.githubusercontent.com/772937/48367066-7347bf00-e664-11e8-8e84-c0bc998b2cb3.png)

[2018-11-13 16:09] fikovnik opened #296 "Looking for a new maintainer?"
Here is what has happened. Some time ago I got my macbook stolen (from a hotel room in Vienna?!?). While I was waiting for a replacement (it is a long process at the university where I work), I got  temporary replacement, a dell with linux. While it was kind of hard at the beginning, after some time I started to like it. Recently, I got my hands on a new macbook pro and I realized that I don't wan

[2018-11-13 16:23] derekwyatt commented on #296
Sorry to hear about your Mac, but you're on the better OS now, I think. There are days I wish I could switch.

With that said, I just recently stopped using ShiftIt, since I switched to Hammerspoon, so I'm not a candidate for maintaining ShiftIt.

Thanks for code :)

[2018-11-13 17:05] rca commented on #296
I appreciate the consideration.  Unfortunately, while I do software development, I don't know my way around Mac app development.  :(

I do use this piece of software every day, so hope it continues to live on.

[2018-11-13 18:30] fikovnik commented on #296
@derekwyatt - Hammerspoon is really cool. Do you think you could package a Hammerspoon script which basically does what shiftit does so it could become a permanent replacement?

[2018-11-13 18:35] derekwyatt commented on #296
@fikovnik Not for the average user. The issue would be about creating a customization UI, which is what your non-programmer would need.  With that said, getting the equivalent of what ShiftIt provided was dead simple:

[code]

I have more than that but that extra functionality goes beyond what was possible with ShiftIt so I didn't include it.

[2018-11-13 18:40] aegamesi commented on #296
Unfortunately I don't know my way around macOS development either. Since ShiftIt seems to work mostly fine, perhaps effort would be better spent on getting a similarly simple but useful cross platform tool?

[2018-11-13 19:13] fikovnik commented on #296
@derekwyatt - this is more less what I had in mind. Basically a github wiki page that will briefly describe how to install hammerspoon and where to put the script. Ideally, the script would contain shiftit keybindings and the same actions.

[2018-11-13 19:14] fikovnik commented on #296
@aegamesi - cross platform is hard since you will need to somehow test it on OSX. Most of the window managers I have tried on linux already have shiftit functionality so it is not really needed there.

[2018-11-13 19:20] derekwyatt commented on #296
@fikovnik Alright, I can do that. Do you want me to make a PR for the root `README.md` or do you have somewhere more specific in mind?

[2018-11-13 19:25] fikovnik commented on #296
@derekwyatt - I think a wiki page with a link from `README.md` would be perfect. I'll add you to the project so you can edit wiki. Thanks!

[2018-11-13 20:14] derekwyatt commented on #296
@fikovnik I had to futz with it a bit... my previous PR was mucking with it... but here you go https://github.com/fikovnik/ShiftIt/pull/297.

[2018-11-21 15:43] ryanpcmcquen commented on #296
@derekwyatt, is there a way for HammerSpoon to make an app centered but occupying a certain percentage of the screen (80% or 90%)?

Asking for: https://github.com/fikovnik/ShiftIt/issues/295

[2018-11-21 17:04] derekwyatt commented on #295
This can be done pretty easily with Hammerspoon.  If you take a look at https://github.com/derekwyatt/dotfiles/blob/3d0887a/hammerspoon-init.lua#L71 you should see the definition of `center` that you can tune to your heart's content.  If you want it to have a 5% border of open desktop around the app, for example, then:
[code]

[2018-11-21 17:05] derekwyatt commented on #296
@ryanpcmcquen Answered on #295 so that this ticket can close.

[2018-11-21 17:35] ryanpcmcquen commented on #295
@derekwyatt, that is amazing! I really need to switch to HammerSpoon ...

[2018-11-28 00:44] crolek commented on #296
@fikovnik
I personally love the simplicity of ShiftIt when I went hunting for a this exact feature. I WAS a born and bread (hehe) Windows Dev with some Linux foo. But a few years ago the Mac bug bit hard and hasn't let go.

I'm sending this via my new Mac TrashCan.... so I'm not saying I'm interested in taking over the project yet because its been awhile since I've looked at the code base. But I'd

[2018-11-30 03:44] a7hybnj2 commented on #296
Post your hammerspoon configs on your github page. This script snippit seems totally functional.

[2018-12-04 22:12] YourRatzon opened #298 "ShiftIt doesn't work with IntelliJ IDEA and Android Studio"
None of the ShiftIt commands work when trying to move around Android Studio and IntelliJ windows.

[2018-12-05 00:12] #298 closed

[2018-12-05 00:13] YourRatzon commented on #298
Guess was just a temporary bug, now it's working.

[2018-12-05 04:34] crolek commented on #296
hey @fikovnik
Serious question. Besides sending a few PRs your ways with bugs/features from the Issues list. Would you want some other form of "proof of work" if I was interested in becoming a maintainer?

I would hope that if you're willing to hand over the reigns of this sweet tool that you'd let me be a co-maintainer for a few months while I learn what you wanted to do. How you got here. etc.

[2018-12-14 12:53] omercnet commented on #254
Please add this to UI

[2019-02-02 05:55] entotsu commented on #292
+1

[2019-02-04 11:40] fikovnik commented on #292
I do not (I switched to Linux), but I recommend you to check out hammerspoon altenative cf. https://github.com/fikovnik/ShiftIt/wiki/The-Hammerspoon-Alternative

[2019-03-03 14:47] zzyyfff opened #299 "Chome windows don't respond to ShiftIt commands"
**Problem:**
ShiftIt work perfectly for all apps' windows except for "Google Chrome.app". Chrome windows just don't respond at all.

**System:**
MacBook Pro 15" Late 2016 model with Touchbar
macOS 10.14.3
ShiftIt 2.3
Google Chrome 72.0.3626.121

**Attempts to solve:**
+ I've tried using both the hotkey activation and the SiftIt menu bar dropdown. Both work for other apps but not for Chrome.
+ I've

[2019-03-03 21:06] molenick commented on #299
I'm experiencing this as well, one additional observation I've seen is that Chrome will respond to Shift-It commands when initially launched, however after visiting any page it ceases to function.  Started happening sometime around February 18th.

[2019-03-03 21:16] molenick commented on #299
I just downgraded to Chrome 71.0.3578.80 and it seems to be working fine.  I guess the question is what changed between 71 and 72 in Chrome that could break Shift-It?

[2019-03-04 00:12] zzyyfff commented on #299
I can confirm that downgrading to Chrome 71 works for having ShiftIt work again!

It's not a good solution for me and probably not a good longterm solution for most other users because:
- it breaks other important software
- was rather involved to downgrade and figure out how to disable automatic updates, and
- presumably most ppl will want to use and develop for the Chrome version most others are

[2019-03-04 19:11] dladowitz commented on #299
Where did you download Chrome 71 from? I see a bunch of sites that list it, but I'm extremely wary of downloading a web browser from them. Who knows if they've tampered with the package and installed anything malicious.

[2019-03-04 20:59] zzyyfff commented on #299
That's a fair concern! I don't remember which of several sites I ended up using, but I did it for testing only and reverted to the current release. I do not recommend this solution for many reasons (for me, it also broke use of the 1Password extension), unless you're only trying to test ShiftIt.

It appears that the maintainer(s) are abandoning this project and recommend using a configuration of H

[2019-03-04 21:15] fikovnik commented on #299
Indeed, please use Hammerspoon!

[2019-03-08 03:27] dennisgove commented on #299
I just installed Hammerspoon after years of using Shiftit and am very pleased.

That said, I loved shiftit and I'm sorry to see it go! Thank you for the suggestion to switch to Hammerspoon and THANK YOU for the use of shiftit over these last few years.

[2019-03-25 13:10] foray1010 commented on #296
based on @derekwyatt 's advice, I created a hammerspoon config that follow ShiftIt's hotkeys
I just need move to bottom/left/right/top and maximum, so it is not a 100% replacement

[code]

[2019-03-28 09:12] mirchaemanuel opened #300 "not working with iMAC 27" 5K with two external monitor MacOS Mojave"
I try to move application with hotkeys, in log file I read:
`
2019-03-28 10:10:33.560 ShiftIt[40004/0x1150645c0] [lvl=3] -[ShiftItAppDelegate invokeShiftItActionByIdentifier_:] Execution of ShiftIt action: right failed: Windows in fullscreen are not supported
NSError stack trace:
org.shiftitapp.shifit.error:20103 - Windows in fullscreen are not supported
2019-03-28 10:10:33.921 ShiftIt[40004/0x115

[2019-03-28 10:25] fikovnik commented on #300
I'm not using OSX anymore so ShiftIt is looking for a new maintainer (cf. #296). In the mean time, an excellent open-source alternative is [Hammerspoon](https://github.com/fikovnik/ShiftIt/wiki/The-Hammerspoon-Alternative).

[2019-04-04 16:05] #43 closed

[2019-04-04 16:11] #45 closed

[2019-05-12 14:30] isaaclem commented on #296
I just wanted to say that, huge thanks for @fikovnik, for creating this wonderful tools that benefit many of the mac users, although I'm a bit late to the party but still, have the urge to express my gratitude!

[2019-05-17 00:38] adamist521 commented on #285
I also cant resize it to 2/3.
@kcormier did you get to fix the issue?

[2019-06-24 22:33] ybot1122 commented on #296
Just wondering if there's been a formal handoff yet? Or still in transition? I sincerely hope it's not being dropped. I love this tool! :)

[2019-06-25 11:37] fikovnik commented on #296
@ybot1122 - would you like to give it a try (you can directly edit README.md on github) and do a PR. Thanks a lot!

[2019-07-10 00:11] meichthys commented on #240
Closing this issue for inactivity and lack of response.

[2019-07-10 00:11] #240 closed

[2019-07-11 07:20] leafac commented on #296
First of all, thanks for ShiftIt. I really like it.

I don’t know enough Objective-C to volunteer as a maintainer, and I think Hammerspoon is too much for the tech savvy. The thing I liked about ShiftIt is how I could install it in my wife’s computer and have her use it without missing a beat. I couldn’t do that with Hammerspoon.

I looked around for alternatives, but they’re all either paid, or t

[2019-07-11 07:23] ryanpcmcquen commented on #296
Hammerspoon though.

[2019-07-30 18:18] purna-m opened #302 "Hot keys don't work when laptop has been on sleep mode for a while"

[2019-09-04 08:20] mortendahl commented on #109
FWIW crashing still seems to be an issue (ShiftIt 1.6.6, Little Snitch 4.4.2).

Love ShiftIt btw 💪

[2019-09-04 08:55] fikovnik commented on #109
Please have a look at this alternative: https://github.com/fikovnik/ShiftIt/wiki/The-Hammerspoon-Alternative

[2019-09-04 09:17] mortendahl commented on #109
Thank you for the reply @fikovnik. Has this mostly replaced ShiftIt?

[2019-09-04 09:38] fikovnik commented on #109
Indeed. I'm no longer using OSX. Plus that tool is really good.

On Wed, Sep 4, 2019 at 11:17 AM Morten Dahl <notifications@github.com>
wrote:

[2019-09-28 01:58] omefire commented on #86
What internal API could be leveraged to achieve this? I'm looking into potentially providing this functionality.

[2019-10-11 10:30] kwonfred opened #303 "ShiftIt Left or Right no longer cycles through 1/2 --> 1/3 --> 2/3 options"
When I press the "Left" or "Right" shortcuts on the latest binary build (1.6.6), it snaps / resizes to 1/2 of the screen on the left or right side respectively. However, it no longer cycles through 1/3 and 2/3 screen size options.

I am noticing this behavior on Macbook Pro 15 Inch (2016) and iMac (2014) on both macOS Mojave and Catalina.

[2019-10-15 22:31] #290 closed

[2019-10-17 10:09] phips28 commented on #303
same for me.

- v 1.6.6
- Catalina
- Macbook pro 15 (2019)

[2019-10-17 11:09] fikovnik commented on #303
Please look at https://github.com/fikovnik/ShiftIt/wiki/The-Hammerspoon-Alternative

[2019-10-17 11:18] phips28 commented on #303
how does this work with left, right, up down keys? have you tried?

[2019-10-17 12:10] fikovnik commented on #303
It is an alternative to ShiftIt. I have not tried it since I do not use OSX
anymore.

On Thu, Oct 17, 2019 at 1:18 PM Phil <notifications@github.com> wrote:

[2019-11-21 02:31] cafebabei opened #305 "open at login not worked (in macOS Mojave 10.14.5)"
![image](https://user-images.githubusercontent.com/45508529/69298806-e279cb00-0c49-11ea-940a-a0f0969073e9.png)

[2019-11-25 15:44] ArCiGo commented on #305
I'm facing the same problem. I always check the Open at Login option, but when I turn on my computer the app doesn't start at login

[2019-11-25 18:07] karmakaze commented on #303
There is no UI for enabling this option. The FAQ section of the [README.md](https://github.com/fikovnik/ShiftIt#faq) has the solution:
Enter the following in a terminal.
[code]

[2019-11-25 20:31] phips28 commented on #303
@karmakaze thanks so much! that works.

[2019-12-16 09:28] kacpiii commented on #305
+1

[2020-01-10 21:30] ToeC commented on #296
Someone at work just posted about https://rectangleapp.com. Free, maintained and appears to work so perhaps no maintenance is needed here.

[2020-01-21 02:21] beadss opened #306 "I need a function to automatically move to the next screen."
If the window is already in the left or right direction when the left and right buttons are pressed,
it would be nice to have a function that automatically moves to the screen in that direction.

An example would be the ability to move a window with the 'Windows key + arrow keys' in a dual monitor environment of Windows OS.

[2020-01-23 22:03] peterklijn commented on #296
Thanks for all the hard work on ShiftIt @fikovnik!

I like the Hammerspoon alternative but wasn't very satisfied with the example configuration, so I made my own :).

https://github.com/peterklijn/hammerspoon-shiftit

It's more in line with the ShiftIt configuration.

_(At the point of writing, it doesn't cover all functionality yet, WIP)_

[2020-01-24 07:37] fikovnik commented on #296
Thanks you. Once it is complete, could you do PR to feature a like to in the README?

[2020-01-24 08:03] peterklijn commented on #296
Will do!

[2020-02-20 12:46] peterklijn commented on #296
@fikovnik here's the PR: https://github.com/fikovnik/ShiftIt/pull/307 :)

[2020-02-20 13:32] fikovnik commented on #296
Thanks!!!

On Thu, Feb 20, 2020 at 1:46 PM Peter Klijn <notifications@github.com>
wrote:

[2020-03-16 06:31] 01GOD opened #308 "Recommendation: "Double click on title bar to maximize""
Hi,

Found the app today. Thanks for maintaining this app!

Recommendation: "Double click on title bar to maximize"

Also, an option to open EVERY app maximized would be great!

Thanks in advance!

[2020-03-22 16:03] tomatau commented on #285
Would be great if this could be fixed

[2020-03-29 14:22] aescobar-icc opened #309 "closed unexpectedly"
in MacOS Mojave v10.14.6 when shifit not start at login and you open some app and then open shiftit, if you try to align in any direction any of these previously opened applications, shifit closes unexpectedly

[2020-04-17 21:16] simonsheng commented on #296
Thanks @fikovnik , I am wondering who is taking care of this now?

[2020-05-06 17:28] jclusi opened #310 "Dual Monitor Issues With full-Screen"
When I have 1 monitor in full screen, like watching a video in youtube, I can't control any window in the other monitor: the shortcuts don't work at all.

[2020-05-15 08:44] hbto commented on #310
I have the same issue.

Workaround exit fullscreen and it works like a charm.

You have to bear in mind that ShiftIt is no longer a maintained project

refer to https://github.com/fikovnik/ShiftIt/issues/296 for more help on it.

[2020-05-27 20:05] niij commented on #254
Apparently I was on a very old version and just upgraded. I lost the multiple sizes feature @fikovnik any chance `defaults write org.shiftitapp.ShiftIt multipleActionsCycleWindowSizes YES/NO` can be added to the UI? Thanks for the great software!

[2020-06-18 16:41] allanragec commented on #310
I investigated a bit this issue and curiously only occurred with me using Chrome in full screen. With Safari worked well. The same for you @hbto  ? I need to investigate better the difference... what chrome do to cause this problem, but would be good to understand if is a particularity from Chrome

[2020-06-18 20:19] hbto commented on #310
@allanragec This issue happens to me with several other programs not only Chrome but as you pointed out it does not happen with safari. Bear in mind that this app being an awesome app is no longer maintained.

Regards.

[2020-06-18 20:23] allanragec commented on #310
good to know @hbto , thanks for the feedback! I will try to solve this problem and I don't know when we can release a new version (maybe @fikovnik can help me with it) with a new feature for ultra wide monitors. I'm using here and it is a very cool feature https://github.com/fikovnik/ShiftIt/pull/311